<extend name="./Application/Home/View/Public/doc.html"/>

<block name="search">
<form action="__ROOT__/game/search">
	<div class="item">
		<div class="ui icon input">
			<input name="q" type="text" placeholder="搜索游戏..." />
			<i class="search icon"></i>
		</div>
	</div>
</form>
</block>

<block name="subject">
<a class="toc"><i class="align justify icon"></i></a>
<div class="ui huge breadcrumb">
	<div class="active section">游戏搜索：{$keyword}</div>
</div>
<div>分享到：
	<a data-selector="share" data-type="weibo" href=""><i class="icon weibo"></i></a>
	<a data-selector="share" data-type="qq" href=""><i class="icon qq"></i></a>
	<a data-selector="share" data-type="wechat" href=""><i class="icon wechat"></i></a>
</div>
</block>

<block name="content">
<empty name="list">
<div class="ui basic very padded secondary segment">
	<div class="ui center aligned icon header">
		<i class="circular search icon grey"></i>
		<p>没有搜索到相关结果</p>
	</div>
</div>
</empty>
<div class="ui special eight doubling cards">
<foreach name='list' item='game'>
<a class="ui link card" href="<php>if(!strpos($game['game_link'],'://')){echo '__ROOT__/game/';}</php>{$game.game_link}" target="_blank">
<div class="blurring dimmable image">
	<div class="ui dimmer">
		<div class="content">
			<div class="center ">
				<h4>{$game.game_title}</h4>
			</div>
		</div>
	</div>
	<img src="__VIEW__/game/img/<php>
	$filename = 'Application/Home/View/Game/img/'.$game['game_img'];
	echo is_file($filename)?$game['game_img']:'default.png';
	</php>"/>
</div>
</a>
</foreach>
</div>
</block>