<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HTML5/CSS3俄罗斯方块demo</title>
		<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
	</head>
	<body>
		<div id="tetris">
			<div id="info">
				<div id="next_shape">asdfasdf</div>
				<p id="level">Level:<span></span></p>
				<p id="lines">Lines:<span></span></p>
				<p id="score">Score:<span></span></p>
				<p id="time">Time:<span></span></p>
			</div>
			<div id="canvas"></div>
		</div>
		<p style="color:red;font-size:18px;font-weight:bold">方向键进行移动和翻转</p>
		<div style="text-align:center;clear:both;"></div>
		<script src="js/index.js"></script>
	</body>
</html>