/* 
    Document   : divwin
    Created on : 2009年5月7日, 上午10:24
    Author     : lcfeng
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.divwintitbg{
  background-image:url(../images/divwin/pop_titbg.gif);}
.divwintitarrow{
  background-image:url(../images/divwin/pop_arrow.gif);
  background-repeat:no-repeat;
  background-position:center center;}
.divwinclose{
  cursor:pointer;
  background-image:url(../images/divwin/cha.gif);
  background-repeat:no-repeat;
  background-position:center center;}
.divwinmaintable{
  background-color:"#666699";}

.divwintitle{
  font-weight:bold;
  cursor:move;}

.divwinstatebar{
  background-color:#E4E4E4;}
.divwinls{
  background-image:url(../images/divwin/ls.gif);
  cursor:nw-resize;}

.button {	
	border: 1px solid #999999;
	padding: 1px 10px 0px;
	font-size: 9pt;
	cursor: hand;
	background-repeat: repeat-x;
	height: 20px;}

