.morestyle139150{ font-size: 9pt ;}
.leaderfont139150{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle139150{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.timestyle139150{ font-size: 9pt ;}
.titlestyle139151{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle139151{ line-height: 150%; color: #222222; font-size: 9pt ;}
