<extend name="Public:main" />

<block name="info">
{$username}&nbsp;<a class="hyperlink" href="__ROOT__/admin.php/Index/logout">注销</a>
</block>

<block name="form">
<a href="__ROOT__/admin.php/blog/index">Blog管理</a><br />
<a href="__ROOT__/admin.php/diary/index">Diray管理</a><br />
<a href="__ROOT__/admin.php/demo/index">Demo管理</a><br />
<a href="__ROOT__/admin.php/game/index">Game管理</a><br />
<a href="__ROOT__/admin.php/doc/index">Doc管理</a><br />
<a href="__ROOT__/admin.php/tool/index">Tool管理</a><br />
<a href="__ROOT__/admin.php/vistor/index">访客统计</a><br />
<a href="__ROOT__/admin.php/sql/index" style="color:red">SQL</a>
</block>