<extend name="Public:main" />

<block name="style">
<style>
#login_form span, p {
	padding-left:8px;
	font-size:14px;
	font-style:italic;
	color:#a00
}
</style>
</block>

<block name="form">
<img id="verify" src="./verify" width="160" height="50" /><br />
<form id="login_form" method="post" action="./login">
账号：<input type="text" name="username" autofocus="autofocus"><br />
密码：<input type="text" name="password"><br />
验证：<input type="text" name="verify"><br />
<button type="submit">登录</button>
</form>
<p>{$messages}</p>
</block>

<block name="script">
<load href="__PUBLIC__/jquery-validation/jquery.validate.min.js" />
<load href="__PUBLIC__/jquery-validation/localization/messages_zh.js" />
<script>
$(function() {
	jQuery.validator.addMethod("lettersonly", function(value, element) {
		return this.optional(element) || /^[^:%,'\*\"\s\<\>\&]+$/i.test(value);
	}, "不得含有特殊字符");
	
	$('#login_form').validate({
		errorElement:'span',
		rules:{
			username:{required:true, lettersonly:true},
			password:{required:true},
			verify:{required:true}
		}
	});
	
	$("#verify").click(function() {
		$("#verify").attr("src", "./verify?k="+Math.random());
	});
});
</script>
</block>