body, table, tr, td, th, div, select, span, input {
  font-size: 9pt;
}

/*开始介绍的css*/
.jieshaoClass{
  background-color:#dcdcdc;
  width:600px;
  height:416px;
  margin:auto;
}                             

.jieshaoClass H1{
  text-align:center;
}

.jieshaoClass OL,.jieshaoClass UL,.jieshaoClass LI{
  font-size:15pt;
  font-weight:bold;
}

/*显示玩家属性的css*/
.playerinfotext {
  font-weight: bold;
  font-family: sans-serif;
  color: #00ffff;
  line-height: 20px;
}

/*游戏窗体*/
#gameFrame {
  width: 352px;
  height: 352px;
  position: relative;
}

#gameFrame .gameGrid {
  width: 32px;
  height: 32px;
  float: left;
}

#gameFrame .player {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 20;
}

/*对话框*/
#gameFrame .speakDialogCss {
  position: absolute;
  z-index: 50;
  top: 64px;
  left: 64px;
  width: 224px;
  height: 96px;
  border: 5px dotted #ffd700;
  background-color: #6495ed;
  text-align: center;
}

/*对话框*/
#gameFrame #speakDialogInner {
  width: 100%;
  height: 76px;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
}

/*战斗框*/
#gameFrame .fightWinCss {
  position: absolute;
  z-index: 30;
  top: -5px;
  left: -80px;
  width: 457px;
  height: 320px;
  border: 5px dotted #ffd700;
  background-color: #6495ed;
  text-align: center;
}

/*战斗框*/
#gameFrame .duizhanInfoWin {
  float: left;
  width: 120px;
  height: 305px;
  background-color: #f0e68c;
  margin-top: 8px;
  margin-left: 5px;
  position: relative;
}

/*战斗框*/
#gameFrame .duizhanContentWin {
  float: left;
  width: 190px;
  height: 305px;
  background-color: #90ee90;
  overflow-y: scroll;
  margin-top: 8px;
  margin-left: 5px;
  text-align: left;
}

/*战斗框*/
#gameFrame .fightTimer {
  position: absolute;
  z-index: 35;
  color: #ff7f50;
  text-align: right;
  margin-right: 5px;
  width: 120px;
  height: 20px;
  left: 0;
  top: 280px;
}

#gameFrame .fightGuaiDsp {
  color: #8b008b;
}

#gameFrame .fightTiXingDsp {
  color: red;
}

#gameFrame .fightFenNuDsp {
  color: #ff8c00;
}

#gameFrame .fightFenNuJiDianDsp {
  color: #00ced1;
}

#gameFrame .fightRanShaoDsp {
  color: fuchsia;
}

#gameFrame .fightShiQiDsp{
  color:blue;
}

/*战斗过程中每一行的样式*/
#gameFrame .fightLineStyle {
  display: none;
}

/*战斗框关闭按钮样式*/
#gameFrame .closeFightInfo {
  position: absolute;
  z-index: 35;
  color: #ff7f50;
  text-align: center;
  width: 120px;
  height: 20px;
  left: 0;
  top: 280px;
  display: none;
}

/*显示怪物属性框*/
#gameFrame .viewGuaiDialogCss {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 342px;
  height: 342px;
  border: 5px dotted #ffd700;
  background-color: #6495ed;
  text-align: left;
  overflow:scroll;
}

/*购买框*/
#gameFrame .goumaiDialogCss {
  position: absolute;
  z-index: 30;
  top: 50px;
  left: 80px;
  width: 182px;
  height: 242px;
  border: 5px dotted #ffd700;
  background-color: #6495ed;
  text-align: center;
}

#gameFrame #viewGuaiWinDivContainer table{
  background-color:purple;
}

#gameFrame #viewGuaiWinDivContainer th{
  text-align:center;
}

#gameFrame #viewGuaiWinDivContainer td{
  text-align:right;
}

#gameFrame #viewGuaiWinDivContainer th,#gameFrame #viewGuaiWinDivContainer td{
  background-color:#90ee90;
}

#goumaiWinDivContainer .goumaishangdianDSP{
  margin-top:8px;
}

/*游戏结束窗口样式*/
#gameFrame .finishInnerDiv{
  margin-top:10px;
  margin-left:60px;
  margin-right:60px;
  font-size:18pt;
  color:#f0e68c;
  font-family:'隶书';
}

#gameFrame .finishReStartDiv{
  margin-top:10px;
  margin-left:100px;
  margin-right:100px;
  font-size:20pt;
  background-color:#6495ed;
  color:#8b0000;
  font-family:'隶书';
  text-align:center;
  cursor:pointer;
}

#gameFrame .finishReStartHover{
  background-color:#8b0000;
  color:#6495ed;
}
