<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta name="applicable-device" content="pc, mobile" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no, address=no" />
	<meta name="robots" Content="all" />
	<meta name="description" content="{$Think.config.WUGN.WEB_DESCRIPTION}" />
	<meta name="keywords" content="{$Think.config.WUGN.WEB_KEYWORDS}" />
	<meta name="author" content="{$Think.config.WUGN.AUTHOR_NAME}" />
	<block name="title"><title>{$meta_title}｜{$Think.config.WUGN.WEB_SITE_TITLE}－{$Think.config.WUGN.WEB_SITE_SLOGAN}</title></block>
	<load href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<load href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
	<load href="https://cdn.bootcss.com/animate.css/3.7.0/animate.min.css" />
	<load href="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.min.css" />
	<load href="{$Think.config.WUGN.CDN}/css/admin.css" />
	<link rel="icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<block name="style"></block>
	
	<style>
	.subnavbar a{
		text-decoration:none;
	}
	</style>
</head>

<body>
<div class="navbar navbar-inverse navbar-static-top hidden-print">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<i class="fa fa-bars fa-lg" aria-hidden="true" title="切换导航"></i>
			<span class="sr-only">切换导航</span>
		</button>
		<a class="navbar-brand" href="__ROOT__/admin.php">{$Think.config.WUGN.WEB_SITE}</a>
	</div>
	<notempty name="username">
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav pull-right">
			<li>
				<a href="__APP__/user"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{$username}</a>
			</li>
			<li class="dropdown dropdown-split-right hidden-xs">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog" aria-hidden="true"></i>&nbsp;操&nbsp;作&nbsp;
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="__ROOT__/admin.php/Index/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;注&nbsp;销&nbsp;</a></li>
					<li><a href="#"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;帮&nbsp;助&nbsp;</a></li>
				</ul>
			</li>
			<li class="hidden-lg hidden-md hidden-sm"><a href="__ROOT__/admin.php/Index/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;注&nbsp;销&nbsp;</a></li>
			<li class="hidden-lg hidden-md hidden-sm"><a href="#"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;帮&nbsp;助&nbsp;</a></li>
		</ul>
	</div>
	<else />
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav pull-right">
			<li>
				<a id="register_nav">还没有账号<i class="fa fa-question" aria-hidden="true"></i>立即注册</a>
			</li>
			<li>
				<a href="__ROOT__/index"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;返回主页</a>
			</li>
		</ul>
	</div>
	</notempty>
	</div>
</div>
<block name="subnavbar">
<div class="subnavbar">
	<div class="subnavbar-inner">
		<div class="container">
		<ul class="mainnav">
			<li><a href="__ROOT__"><i class="fa fa-home" aria-hidden="true"></i><span>首页</span></a></li>
			<li class="active"><a href="__APP__"><i class="fa fa-users" aria-hidden="true"></i><span>管理中心</span></a></li>
			<li><a href="__APP__/user"><i class="fa fa-user" aria-hidden="true"></i><span>个人中心</span></a></li>
		</ul>
		</div>
	</div>
</div>
</block>
<div class="main">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<block name="container"></block>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
		<hr />
			<div class="row footer-bottom">
			<ul class="list-inline text-center">
				<li>Copyright &copy; <?php echo date("Y"); ?></li> <li><a href="__ROOT__/index" target="_blank">{$Think.config.WUGN.WEB_SITE}</a></li><li> All Rights Reserved | Author by {$Think.config.WUGN.AUTHOR_NAME}</li>
			</ul>
			</div>
		</div>
	</footer>
</div>
<div id="gotop" class="text-center" title="返回顶部">
	<i class="fa fa-angle-up"></i>
</div>
</body>
<load href="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js" />
<load href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js" />
<load href="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.min.js" />
<load href="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js" />
<load href="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.js" />
<load href="__PUBLIC__/layDate/laydate.min.js" />
<block name="script"></block>
<script>
$("#gotop").hide();
$(window).scroll(function(){
	if($(window).scrollTop() >= 100){
		$("#gotop").fadeIn();
	} else {
		$("#gotop").fadeOut();
	}
});

$("#gotop").click(function(event){
	$('html,body').animate({scrollTop:0},100);
});
</script>
</html>
