<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<block name="title"><title>{$meta_title}｜{:C('WEB_SITE_TITLE')}－{:C('WEB_SITE_SLOGAN')}</title></block>
	<style>
	.hyperlink{padding:5px;font-style:italic;font-size:11px}
	</style>
</head>
<body>
	账号:<block name="info">未登录&nbsp;<a class="hyperlink" href="__ROOT__/admin.php/Index/login">登录</a></block>
	<p class="hyperlink"><a href="__ROOT__/admin.php">管理首页</a></p>
	<block name="form"></block>
	<p class="hyperlink"><a href="__ROOT__/index">返回首页</a></p>
</body>
</html>