<extend name="Public:blog" />

<block name="post_title">
<div class="container">
	<div class="postTitle text-center">
		<h2>{$data.post_title}</h2>
		<span>作者：{$data.post_author}</span>
	</div>
</div>
</block>

<block name="post_content">
	<div class="frommysql">{$data.post_content}</div>
</block>

<block name="post_foot">
	<div class="reprint"><a href="{$data.post_link}" target="_blank">转载：{$data.post_from}</a></div>
	<div class="postDesc text-right"><time>{$data.post_date}<time></div>
	<div class="flippage text-center">上一篇：<a href="__ROOT__/blog/{$lp.id}" title="{$lp.post_title}">{$lp.post_title_cut}</a>&nbsp;|&nbsp;下一篇：<a href="__ROOT__/blog/{$np.id}" title="{$np.post_title}">{$np.post_title_cut}</a></div>
</block>
