<extend name="./Application/Home/View/Public/blog.html"/>

<block name="post_title">
<div class="container">
	<div class="postTitle text-center">
		<h2>{$data.post_title}</h2>
		<span>作者：{$data.post_author}</span>
	</div>
</div>
</block>

<block name="post_content">
	<div class="frommysql">{$data.post_content}</div>
</block>

<block name="post_foot">
	<div style="float:left"><a href="{$data.post_link}" target="_blank">转载：{$data.post_from}</a></div>
	<div class="postDesc text-right"><time>{$data.post_date}<time></div>
	<div class="flippage text-center">上一篇：<a href="__ROOT__/blog/{$lp.id}">{$lp.post_title}</a>&nbsp;|&nbsp;下一篇：<a href="__ROOT__/blog/{$np.id}">{$np.post_title}</a></div>
</block>
