<extend name="./Application/Home/View/Public/blog.html"/>

<block name="post_title">
<div class="container">
	<div class="postTitle">
		<h2>文章搜索：{$keyword}</h2>
		<span>&nbsp;</span>
	</div>
</div>
</block>

<block name="post_content">
<div class="table-responsive">
		<empty name="list">
			<h2>没有搜索到相关结果</h2>
		</empty>
		<foreach name='list' item='post' >
		<div>
		<h3><a href="__ROOT__/blog/{$post.id}" title="{$post.post_title}">{$post.post_title}</a></h3>
		<div class="post_msg">
			日期：<time>{$post.post_date}&nbsp;</time>
			<span>标签：<a href="__ROOT__/blog/search?q={$post.post_type}">{$post.post_type}</a></span>
		</div>
		<div>
			<p>{$post.post_content}</p>
			<p><a href="__ROOT__/blog/{$post.id}" title="继续阅读：{$post.post_title}">继续阅读 &raquo;</a></p>
		</div>
		<hr />
		</div>
		</foreach>
	<div class="pages">{$page}</div>
</div>
</block>

<block name="post_foot">

</block>
