<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			2048游戏
		</title>
		<style type="text/css">
			*{margin:0;padding:0;list-style-type:none;}
		</style>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/new2048.js"></script>
	</head>
	<body>
		<div id="tips">
			↑(W)/↓(S)/←(A)/→(D)控制方向
		</div>
		<div id="game-panel">
			<div class="div-round" id="box-main">
				<div class="div-round box-lm" id="box0">
				</div>
				<div class="div-round box-lm" id="box1">
				</div>
				<div class="div-round box-lm" id="box2">
				</div>
				<div class="div-round box-lm" id="box3">
				</div>
				<div class="div-round box-lm" id="box4">
				</div>
				<div class="div-round box-lm" id="box5">
				</div>
				<div class="div-round box-lm" id="box6">
				</div>
				<div class="div-round box-lm" id="box7">
				</div>
				<div class="div-round box-lm" id="box8">
				</div>
				<div class="div-round box-lm" id="box9">
				</div>
				<div class="div-round box-lm" id="boxa">
				</div>
				<div class="div-round box-lm" id="boxb">
				</div>
				<div class="div-round box-lm" id="boxc">
				</div>
				<div class="div-round box-lm" id="boxd">
				</div>
				<div class="div-round box-lm" id="boxe">
				</div>
				<div class="div-round box-lm" id="boxf">
				</div>
			</div>
		</div>
		</div>
		<!-- 点击按钮重新开始 -->
		<div style="width:200px;margin: 50px auto;">
			<input type="button" value="开始" onClick="init();">
			<input type="button" value="重新开始" onClick="if(window.confirm('您确定重新开始吗?')){init();}">
		</div>
	</body>

</html>