<extend name="./Application/Admin/View/Public/main.html"/>

<block name="style">
<style>.red{color:#f00}#message{white-space:pre-wrap;word-wrap:break-word;word-break:break-all;font-family:'Courier New','Microsoft YaHei','SimSun'}</style>
</block>

<block name="info">
{$username}&nbsp;<a class="hyperlink" href="__ROOT__/admin.php/Index/logout">注销</a>
</block>

<block name="form">
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script>
$(function(){
	$('#submit').click(function(){
		var sql = $('#textarea').val();
		$.ajax({
			url: './query',
			data: {
				sql: sql,
			},
			type: 'POST',
			cache: false,
			dataType: 'JSON',
			success: function(data){
				$('#message').html('<span class="red">影响行数：</span>' + data.execute + '<br /><span class="red">查询语句：</span>' + data.sql + '<br /><span class="red">查询结果：</span>' + data.query);
			},
			error: function(){
				$('#message').html('<span class="red">SQL语句错误<br />请检查重试</span>');
			}
		});
	});
});
</script>

SQL语句：<br /><textarea id="textarea" rows="10" cols="50" placeholder="{$placeholder}" style="max-width:99%">select count(id) from wu_blog</textarea>
<br />
<button id="submit">提交</button>
<div id="message">&nbsp;<br />&nbsp;</div>
</block>