<extend name="./Application/Admin/View/Public/main.html"/>

<block name="info">
{$username}&nbsp;<a class="hyperlink" href="__ROOT__/admin.php/Index/logout">注销</a>
</block>

<block name="form">
<script type="text/javascript" src="__PUBLIC__/jquery/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#submit').click(function(){
		var sql = $('#textarea').val();
		$.ajax({
			url: './query',
			data: {
				sql: sql,
			},
			type: 'POST',
			cache: false,
			dataType: 'JSON',
			success: function(data){
				$('#message').html('结果：' + data.result + '<br />语句：' + data.info); 
			},
			error: function(){
				$('#message').html('SQL语句错误<br />请检查重试');
			}
		});
	});
});
</script>

SQL语句：<br/><textarea id="textarea" rows="10" cols="50">select * from wu_blog</textarea>
<br/>
<button id="submit">提交</button>
<div id="message">&nbsp;<br />&nbsp;</div>
</block>