<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<block name="title"><title>{$meta_title}｜{$Think.config.WUGN.WEB_SITE_TITLE}－{$Think.config.WUGN.WEB_SITE_SLOGAN}</title></block>
	<load href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<load href="__PUBLIC__/highlight.js/styles/default.css" />
	<load href="__PUBLIC__/font-awesome/css/font-awesome.min.css" />
	<load href="__HOME_CSS__/blog.css" />
	<link rel="shortcut icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<block name="style"></block>
</head>

<body>
<block name="nav">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="__ROOT__/index">{$Think.config.WUGN.WEB_SITE}</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="__ROOT__/index">首页</a></li>
			<li><a href="__ROOT__/blog">博客</a></li>
			<li><a href="__ROOT__/doc">开发文档</a></li>
			<li><a href="__ROOT__/demo">DEMO</a></li>
			<li><a href="__ROOT__/tool">工具箱</a></li>
			<li class="hidden-sm hidden-xs"><a href="__ROOT__/game">游戏</a></li>
			<li class="hidden-sm hidden-xs"><a href="#">帮助</a></li>
		</ul>
		<div class="navbar-right">
			<form action="__ROOT__/blog/search" method="get" class="navbar-form navbar-left" role="search">
				<div class="form-group has-feedback">
					<i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
					<input name="q" type="text" class="form-control" placeholder="搜索博客..." />
				</div>
			</form>
			<ul class="nav navbar-nav hidden-sm hidden-xs">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;注册</a></li> 
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a></li>
			</ul>
		</div>
	</div>
	</div>
</nav>
</block>
<header>
<block name="post_title">
<div class="container">
	<div class="postTitle">
		<h2>{$data.post_title}</h2>
		<span>&nbsp;</span>
	</div>
</div>
</block>
</header>

<div class="container clearfix">
<div class="row">
	<div class="col-md-8 col-lg-8 column">
		<div class="postCon">
<block name="post_content">
	<p>主体内容</p>
</block>
		</div>
		<div class="postFoot">
<block name="post_foot">
	<p>原链接，日期，上一篇，下一篇</p>
	<p>分页</p>
</block>
		</div>
	</div>
	<div class="col-md-4 col-lg-4 column visible-lg visible-md sidebar">
<block name="post_news">
<div class=""></div>
<div id="sidebar-follow">
	<div class="menuLayer">
		<div class="panel panel-primary newsItem">
			<div class="panel-heading">
				<h3 class="panel-title">搜索博客</h3>
			</div>
			<div class="panel-body">
				<form action="__ROOT__/blog/search" method="get">
					<div class="form-group has-feedback">
						<label>输入标题、作者、类型、来源进行本地查找..</label>
						<i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
						<input name="q" type="text" class="form-control" placeholder="搜索博客..." />
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-primary newsItem">
			<div class="panel-heading">
				<h3 class="panel-title">随便看看</h3>
			</div>
			<div class="panel-body">
				<foreach name='side' item='side' >
					<p><a href="__ROOT__/blog/{$side.id}">{$side.post_title}</a></p>
				</foreach>
				<canvas id="canvasTime" style="width:75%;"></canvas>
			</div>
		</div>
	</div>
</div>
</block>
	</div>

	<div class="clear"></div>
</div>
</div>
	
<footer>
	<div class="container">
	<hr />
		<div class="row footer-bottom">
		<ul class="list-inline text-center">
			<li>Copyright &copy; <?php echo date("Y"); ?></li> <li><a href="__ROOT__/index" target="_blank">{$Think.config.WUGN.WEB_SITE}</a></li><li> All Rights Reserved | Author by {$Think.config.WUGN.AUTHOR_NAME}</li>
		</ul>
		</div>
	</div>
</footer>

<div id="gotop" class="hidden-xs hidden-sm" title="返回顶部">
	<div class="level-2"></div>
	<div class="level-3"></div>
</div>

<div id="gotop2" class="hidden-md hidden-lg text-center" title="返回顶部">
	<i class="fa fa-angle-up"></i>
</div>
</body>
<load href="__PUBLIC__/jquery/jquery.min.js" />
<load href="__HOME_JS__/functions.js" />
<load href="__HOME_JS__/blog.js" />
<load href="__HOME_JS__/canvasTime.js" />
<load href="__PUBLIC__/bootstrap/js/bootstrap.min.js" />
<load href="__PUBLIC__/highlight.js/highlight.pack.js" />
<load href="__PUBLIC__/jquery_lazyload/jquery.lazyload.min.js" />
<!-- 侧边栏跟随,代码高亮,图片懒加载 -->
<script>(new SidebarFollow()).init({element: jQuery('#sidebar-follow'),distanceToTop: 5});</script>
<script>hljs.initHighlightingOnLoad();</script>
<script>$(function(){$("img.lazy").lazyload({effect:"fadeIn"});});</script>
<block name="script"></block>
</html>

