<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta name="applicable-device" content="pc, mobile" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no, address=no" />
	<meta name="robots" Content="all" />
	<meta name="description" content="{$Think.config.WUGN.WEB_DESCRIPTION}" />
	<meta name="keywords" content="{$Think.config.WUGN.WEB_KEYWORDS}" />
	<meta name="author" content="{$Think.config.WUGN.AUTHOR_NAME}" />
	<block name="title"><title>{$meta_title}｜{$Think.config.WUGN.WEB_SITE_TITLE}－{$Think.config.WUGN.WEB_SITE_SLOGAN}</title></block>
	<load href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<load href="https://wuguangnuo-1257896087.cos.ap-guangzhou.myqcloud.com/cdn/wugn/css/app.css" />
	<link rel="icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<block name="style"></block>
</head>
<body class="pushable">
	<block name="nav_sm">
	<div class="ui vertical sidebar menu right" data-attach='[data-selector="sidebar toc"]'>
		<block name="search"></block>
		<a class="item" href="__ROOT__/index">首页</a>
		<a class="item" href="__ROOT__/blog">博客</a>
		<a class="item" href="__ROOT__/doc">开发文档</a>
		<a class="item" href="__ROOT__/demo">DEMO</a>
		<a class="item" href="__ROOT__/tool">工具箱</a>
		<a class="item" href="__ROOT__/game">游戏</a>
		<a class="item" href="#">帮助</a>
		<a class="item" href="__ROOT__/admin.php">登录</a>
		<a class="item" href="#">注册</a>
	</div>
	</block>
	<div class="pusher">
		<div class="w-page m-explore">
			<block name="nav">
			<div class="page-head">
				<div class="ui menu small secondary fixed">
					<a class="item logo" href="__ROOT__/index"></a>
					<a class="item" href="__ROOT__/index">首页</a>
					<a class="item" href="__ROOT__/blog">博客</a>
					<a class="item" href="__ROOT__/doc">开发文档</a>
					<a class="item" href="__ROOT__/demo">DEMO</a>
					<a class="item" href="__ROOT__/tool">工具箱</a>
					<a class="item" href="__ROOT__/game">游戏</a>
					<a class="item" href="#">帮助</a>
					<div class="right menu ">
						<a class="toc item" data-selector="sidebar toc"><i class="fa fa-ellipsis-v icon" aria-hidden="true"></i></a>
						<block name="search"></block>
						<a class="item" href="__ROOT__/admin.php">登录</a>
						<a class="item" href="#">注册</a>
					</div>
				</div>
			</div>
			</block>
			<div class="page-body">
				<div class="ui nags"></div>
				<div class="w-breadcrumb">
					<div class="ui container">
					<block name="subject">
						<a class="toc"><i class="fa fa-align-justify icon" aria-hidden="true"></i></a>
						<div class="ui huge breadcrumb">
							<div class="active section">###</div>
						</div>
						<div>分享到：
							<a data-selector="share" data-type="weibo" href=""><i class="fa fa-weibo icon" aria-hidden="true"></i></a>
							<a data-selector="share" data-type="qq" href=""><i class="fa fa-qq icon" aria-hidden="true"></i></a>
							<a data-selector="share" data-type="wechat" href=""><i class="fa fa-wechat icon" aria-hidden="true"></i></a>
						</div>
					</block>
					</div>
				</div>
				<div class="ui container">
					<block name="content">
					<div class="ui special eight doubling cards">
						<a class="ui link card" href="###">
							<div class="blurring dimmable image">
								<div class="ui dimmer">
									<div class="content">
										<div class="center ">
											<h4>###</h4>
											<p class="ui text yellow ">###</p>
										</div>
									</div>
								</div>
								<img src="###"/>
							</div>
						</a>
					</div>
					</block>
				</div>
			</div>
			<div class="page-foot">
				<div class="ui container">
					<div class="w-copyright">
						<div class="left">
							<p>Copyright &copy; <?php echo date("Y"); ?> <a href="__ROOT__/index" target="_blank">{$Think.config.WUGN.WEB_SITE}</a> All Rights Reserved | Author by {$Think.config.WUGN.AUTHOR_NAME}</p>
							<div class="ui list horizontal">
								<a class="item" href="{$Think.config.WUGN.WEB_SITE_DOMAIN}">Blog</a>
								<a class="item" href="https://weibo.com/wuguangnuo">WeiBo</a>
								<a class="item" href="https://github.com/wuguangnuo">GitHub</a>
								<a class="item" title="Email：{$Think.config.WUGN.AUTHOR_EMAIL}">About</a>
							</div>
						</div>
						<div class="right">
							<a class="logo" href="__ROOT__/index"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<load href="https://wuguangnuo-1257896087.cos.ap-guangzhou.myqcloud.com/cdn/wugn/js/app.js" />
<load href="__HOME_JS__/functions.js" />
<block name="script"></block>
</html>
