<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta name="applicable-device" content="pc, mobile" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no, address=no" />
	<meta name="robots" Content="all" />
	<meta name="description" content="{$Think.config.WUGN.WEB_DESCRIPTION}" />
	<meta name="keywords" content="{$Think.config.WUGN.WEB_KEYWORDS}" />
	<meta name="author" content="{$Think.config.WUGN.AUTHOR_NAME}" />
	<meta name="baidu-site-verification" content="xKR9og758I" />
	<meta name="google-site-verification" content="CPK6o_lHUcURt24QfqLVZxoZrEG5JCwK_tOmsE6QXHw" />
	<meta name="msvalidate.01" content="1F71CC22024194AD57650C8642E533E7" />
	<meta name="360-site-verification" content="98b0911223c98cca16911f8c3b9ff6e8" />
	<title>{$meta_title}｜{$Think.config.WUGN.WEB_SITE_TITLE}－{$Think.config.WUGN.WEB_SITE_SLOGAN}</title>
	<load href="__HOME_CSS__/index.css" />
	<link rel="icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="__ROOT__/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="__ROOT__/favicon.ico" />
</head>
<body>
<div class="container home">
<p class="title"><a href="__ROOT__/index" title="欢迎访问 (๑•́ ₃ •̀๑)">欢迎访问本站</a></p>
	<ul class="link">
		<li><a class="button button_green" href="__ROOT__/blog" title="道不远人">诺的博客</a></li>
		<li><a class="button button_yellow" href="__ROOT__/diary" title="记录生活每一天">諾諾's diary</a></li>
		<li><a class="button button_yellow" href="__ROOT__/demo" title="这只是一个DEMO">DEMO</a></li>
		<li><a class="button button_yellow" href="__ROOT__/game" title="简洁不简单">H5游戏</a></li>
		<li><a class="button button_yellow" href="__ROOT__/doc" title="思而不学则殆">开发文档</a></li>
		<li><a class="button button_yellow" href="__ROOT__/tool" title="半成品堆放处">工具箱</a></li>
		<li><a class="button button_yellow" href="https://weibo.com/wuguangnuo" target="_blank" title="微博">諾哥語錄</a></li>
		<li><a class="button button_yellow" href="https://github.com/wuguangnuo" target="_blank" title="GitHub">GitHub</a></li>
		<li><a class="button button_yellow" href="__ROOT__/admin.php" title="友链">友情链接</a></li>
	</ul>
	<div class="footer">Copyright &copy; <?php echo date("Y"); ?> {$Think.config.WUGN.WEB_SITE} All Rights Reserved | Author by {$Think.config.WUGN.AUTHOR_NAME}</div>
</div>
</body>
<load href="__PUBLIC__/jquery/jquery.min.js" />
<load href="__HOME_JS__/functions.js" />
<load href="__HOME_JS__/index.js" />
<script>$(function(){$('body').iosParallax({movementFactor:75});});</script>
</html>
