<extend name="Public:doc" />
	
<block name="search">
<form action="__ROOT__/tool/">
	<div class="item">
		<div class="ui icon input">
			<input name="k" type="text" placeholder="搜索工具..." />
			<i class="fa fa-search icon" aria-hidden="true"></i>
		</div>
	</div>
</form>
</block>

<block name="subject">
<a class="toc"><i class="fa fa-align-justify icon" aria-hidden="true"></i></a>
<div class="ui huge breadcrumb">
	<div class="active section">{$meta_title}</div>
</div>
<div>分享到：
	<a data-selector="share" data-type="weibo" href="#"><i class="fa fa-weibo icon" aria-hidden="true"></i></a>
	<a data-selector="share" data-type="qq" href="#"><i class="fa fa-qq icon" aria-hidden="true"></i></a>
	<a data-selector="share" data-type="wechat" href="#"><i class="fa fa-wechat icon" aria-hidden="true"></i></a>
</div>
</block>

<block name="content">
<empty name="list">
<div class="ui basic very padded secondary segment">
	<div class="ui center aligned icon header">
		<i class="fa fa-search icon" aria-hidden="true"></i>
		<p>没有搜索到相关结果</p>
	</div>
</div>
</empty>
<div class="ui special eight doubling cards">
<foreach name='list' item='tool'>
<a class="ui link card" href="{$tool.tool_link}" target="_blank">
<div class="blurring dimmable image">
	<div class="ui dimmer">
		<div class="content">
			<div class="center ">
				<h4>{$tool.tool_title}</h4>
			</div>
		</div>
	</div>
	<img src="{$Think.config.WUGN.COS}/tool/img/{$tool.tool_img}"/>
</div>
</a>
</foreach>
</div>
</block>