<!DOCTYPE html>
<html>
<head>
	<title>BaiDuMAP API DEMO</title>
	<style type="text/css">  
	a{
	text-decoration:none;
	}
</style>

</head>

<body bgcolor="powderblue">
	<div id="time1"></div>
	<script>            
	setInterval("document.getElementById('time1').innerHTML = new Date().toLocaleString();", 1000);
	</script>
	<div style = "color:red;font-size:10px" align = "right">Made By WuGN</div>
	<hr/>
	
	<a href = "#"style='text-decoration:none'><b>MAIN<b></a>
	<a href = "http://wuguangnuo.cn"><b>Soooo.club!<b></a>
	<hr align="left" width="30%" />
	<a href = "demo/异步加载.html">异步加载</a>
	<a href = "demo/同时加载两地图.html">同时加载两地图</a>
	<a href = "demo/设置显示范围.html">设置显示范围</a>
	<a href = "demo/获取显示范围.html">获取显示范围</a>
	<a href = "demo/5秒内禁止拖拽.html">5秒内禁止拖拽</a>
	<a href = "demo/获取坐标.html">获取坐标</a>
	<hr align="left" width="30%" />
	<a href = "demo/地图控件.html">地图控件</a>
	<a href = "demo/定位.html">定位</a>
	<a href = "demo/测距.html">测距</a>
	<a href = "demo/标注.html">标注</a>
	<a href = "demo/选择标注.html">选择标注</a>
	<a href = "demo/添加多个标注.html">添加多个标注</a>
	<hr align="left" width="30%" />
	<a href = "demo/右键菜单.html">右键菜单</a>
	<a href = "demo/热力图.html">热力图</a>
	<a href = "demo/绘制点线面.html">绘制点线面</a>
	<a href = "demo/搜索.html">搜索</a>
	<hr align = "left" width="30%" />
	<a href = "demo/1.html">版本1</a>
	<a href = "demo/2.html">版本2</a>
	<a href = "map1.html">JavaScript版</a>
	<a href = "mpa2.html">纯HTML版</a>
	<hr align="left" width="30%" />
	<a href = "http://map.baidu.com/">百度地图</a>
	<a href = "http://lbsyun.baidu.com/index.php?title=jspopular">百度API</a>
	<a href = "http://lbsyun.baidu.com/apiconsole/key">API控制台</a>
	<hr align = "left" width="30%" />
	<a href = "hdy.apk">安卓App下载</a>
	</body>
</html>