<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /><!--移动平台兼容性---->  
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
		
		<title>Soooo.club!</title>
		
		<link href="css/css_min.css" rel="stylesheet" type="text/css" />
		<link href="css/TrafficControl_min.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="js/key.js"></script>
		<script type="text/javascript" src="js/TrafficControl_min.js"></script>
		<script type="text/javascript" src="js/DistanceTool_min.js"></script>	
		<script type="text/javascript" src="js/MarkerTool_min.js"></script>
		<script type="text/javascript" src="js/RectangleZoom_min.js"></script>

	</head>  
	 
	<body> 
		<div id="button">
			<button type="button" onclick="myDrag.open()">拉框放大</button>
			<button type="button" onclick="myDrag.close()">关闭拉框</button>
			<button type="button" onclick="myDis.open()">开启测距</button>
			<button type="button" onclick="myDis.close()">关闭测距</button>
			<button type="button" onclick="openStylePnl()">签到</button>
			
			<a id="r-result" class="zhong">&#12288搜索:<input type="text" id="suggestId" size="15" value="百度" style="width:150px;" /></a>
			<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
			<!--div align = "center"><a href = "main.html">吃喝玩乐华大游!</a></div-->
			
		</div>
		
		<div id="allmap"></div>  
		
		<script type="text/javascript" src="js/hdy-wugn.js"></script>
		
	</body>  
</html>