<extend name="Public:main" />

<block name="container">
<table class="table table-hover table-condensed">
	<thead><th>id</th><th>link</th><th>IP</th><th>area</th><th>ISP</th><th>OS</th><th>broswer</th><th>time</th></thead>
	<tbody>
	<foreach name='list' item='vistor'>
	<tr>
		<td>{$vistor.id}</td>
		<td>{$vistor.lk}</td>
		<td>{$vistor.ip}</td>
		<td>{$vistor.country}</td>
		<td>{$vistor['area']?$vistor['area']:'XX'}</td>
		<td>{$vistor.os}</td>
		<td>{$vistor.br}</td>
		<td>{$vistor.tm}</td>
	</tr>
	</foreach>
	</tbody>
</table>
</block>