<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Conway's Game of Life</title>
		<style type="text/css" mce_bogus="1">
			table {margin:auto;}
		</style>
	</head>
	<body>
		<table>
			<tr align="center"><td colspan="2"><h3>Conway's Game of Life</h3><hr height="1px"/></td></tr>
			<tr>
				<td align="left">Generation: <span id="spanGen">0</span></td>
				<td align="right">
					<button id="btnStart" onclick="startGame();return true;">Start</button>
					<button id="btnPause" onclick="pauseGame();return true;" disabled="disabled">Pause</button>
					<button id="btnReset" onclick="resetGame();return true;" disabled="disabled">Reset</button>
					<button id="btnRandom" onclick="randomGame();return true;">Random</button>
					<button id="btnHelp" onclick="help();return true;">What's this?</button>
				</td>
			</tr>
			<tr align="center">
				<td colspan="2"><canvas id="space" width="500" height="500" style="border: 1px solid; background-color: #eeeeee;" /></td>
			</tr>
		</table>
	</body>
	<script type="text/javascript">
		var canvas = document.getElementById('space');
		var context = canvas.getContext('2d');
		var timerInterval = 10;	// ms
		var cellWidth = 10;	// please ensure: cellWidth > 2
		var cellXLen = 50;	// please ensure: cellWidth * cellXLen = 500
		var cellYLen = 50;	// please ensure: cellWidth * cellYLen = 500
		var cells = [];
		var running = 0;
		var generation = 0;
		
		function drawCell(x,y,state){
			  var cx = x * cellWidth;
			  var cy = y * cellWidth;
				if(state && state==1){
					context.fillStyle = "Gold";
					context.fillRect(cx, cy, cellWidth, cellWidth);
					context.strokeStyle = "DarkGoldenRod";
					context.strokeRect(cx+1, cy+1, cellWidth-2, cellWidth-2);
				}
				else{
					context.clearRect(cx, cy, cellWidth, cellWidth);
				}
		}
		
		function drawPatterns(){
			function setCell(x,y){
				cells[[x,y]] = 1;
			  drawCell(x, y, 1);
			}
			function drawGliderPattern(){
				setCell(1,0);
				setCell(2,1);
				setCell(2,2);
				setCell(1,2);
				setCell(0,2);
			}
			drawGliderPattern();
		}
		
		function applyRule(x,y){
				var neighbours = [];
				var neighbourCount = 0;
				var currentState = cells[[x,y]];
				var nextState = 0;
				neighbours[0] = cells[[(x-1+cellXLen)%cellXLen, (y-1+cellYLen)%cellYLen]];
				neighbours[1] = cells[[(x-1+cellXLen)%cellXLen, (y+1+cellYLen)%cellYLen]];
				neighbours[2] = cells[[(x+cellXLen)%cellXLen, (y+1+cellYLen)%cellYLen]];
				neighbours[3] = cells[[(x+cellXLen)%cellXLen, (y-1+cellYLen)%cellYLen]];
				neighbours[4] = cells[[(x+1+cellXLen)%cellXLen, (y+1+cellYLen)%cellYLen]];
				neighbours[5] = cells[[(x+1+cellXLen)%cellXLen, (y-1+cellYLen)%cellYLen]];
				neighbours[6] = cells[[(x+1+cellXLen)%cellXLen, (y+cellYLen)%cellYLen]];
				neighbours[7] = cells[[(x-1+cellXLen)%cellXLen, (y+cellYLen)%cellYLen]];
				for(i=0;i<8;i++){
					state = neighbours[i];
					if(state && state==1) neighbourCount++;
				}
				if(currentState && currentState==1){
					if(neighbourCount<2 || neighbourCount>3) return 0;
					else return 1;
				}
				else{
					if(neighbourCount==3) return 1;
					else return 0;
				}
		}
		
		function loadGame(){
			canvas.onmousedown = function(e){
				if(running==1) return;
				if(e.offsetX) {
	                          x = e.offsetX;
	                          y = e.offsetY;
		                }
		                else if(e.layerX) {
		                  x = e.layerX;
		                  y = e.layerY;
		                }
				x = Math.floor(x / cellWidth);
				y = Math.floor(y / cellWidth);
				state = cells[[x,y]];
				if(state && state==1)
				{
					cells[[x,y]] = 0;
					drawCell(x, y, 0);
				}
				else
				{
					cells[[x,y]] = 1;
					drawCell(x, y, 1);
			  }
			}
			drawPatterns();
		}
		
		function startGame(){
			function runGame(){
				var nextgen = [];
				for(x=0;x<cellXLen;x++){
					for(y=0;y<cellYLen;y++){
						nextgen[[x,y]] = applyRule(x,y);
					}
				}
				for(x=0;x<cellXLen;x++){
					for(y=0;y<cellYLen;y++){
						cells[[x,y]] = nextgen[[x,y]];
					}
				}
				for(x=0;x<cellXLen;x++){
					for(y=0;y<cellYLen;y++){
						drawCell(x, y, cells[[x,y]]);
					}
				}
				generation++;
				spanGen.innerHTML = generation;
			  if(running==1) setTimeout(runGame, timerInterval);	
			}
			btnStart.disabled = true;
			btnPause.disabled = false;
			btnReset.disabled = true;
			btnRandom.disabled = true;
			running = 1;
			runGame();
		}
		
		function pauseGame(){
			running = 0;
			btnStart.disabled = false;
			btnPause.disabled = true;
			btnReset.disabled = false;
			btnRandom.disabled = false;
		}
		
		function resetGame(){
			for(x=0;x<cellXLen;x++){
					for(y=0;y<cellYLen;y++){
						cells[[x,y]] = 0;
						drawCell(x,y,0);
					}
				}
			drawPatterns();
			generation = 0;
			spanGen.innerHTML = generation;
		}
		
		function randomGame(){
			for(x=0;x<cellXLen;x++){
					for(y=0;y<cellYLen;y++){
						s = (Math.random()>=0.8) ? 1 : 0;
						cells[[x,y]] = s;
						drawCell(x,y,s);
					}
				}
			generation = 0;
			spanGen.innerHTML = generation;
		}
		
		function help(){
			window.open("http://en.wikipedia.org/wiki/Conway's_Game_of_Life");
		}
			
		window.addEventListener("load", loadGame, true);
 </script>
<html>