<extend name="Public:read" />

<block name="style">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css">
</block>

<block name="script">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</block>

<block name="readTable">
<tr>
    <td>id:</td>
    <td>{$data.id}</td>
</tr>
<tr>
    <td>标题：</td>
    <td>{$data.post_title}</td>
</tr>
<tr>
    <td>作者：</td>
    <td>{$data.post_author}</td>
</tr>
<tr>
    <td>类型：</td>
    <td>{$data.post_type}</td>
</tr>
<tr>
    <td>日期：</td>
    <td>{$data.post_date}</td>
</tr>
<tr>
    <td>来源：</td>
    <td>{$data.post_from}</td>
</tr>
<tr>
    <td>原链：</td>
    <td>{$data.post_link}</td>
</tr>
</block>

<block name="readContent">
    <h4>内容：</h4>
    <div class="post_content">{$data.post_content}</div>
</block>