<!DOCTYPE html>
<html>
<head>
	<title>Read Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table>
<tr>
    <td>id:</td>
    <td>{$data.id}</td>
</tr>
<tr>
    <td>标题：</td>
    <td>{$data.diary_title}</td>
</tr>
<tr>
    <td>关键词：</td>
    <td>{$data.diary_key}</td>
</tr>
<tr>
    <td>内容：</td>
    <td>{$data.diary_content}</td>
</tr>
<tr>
    <td>时间：</td>
    <td>{$data.diary_date}</td>
</tr>
</table>
<br />
</body>
</html>