<!DOCTYPE html>
<html>
<head>
  <title>魔塔</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/mota.css" type="text/css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/mota.js" ></script>
</head>
<body>
  <div class="jieshaoClass">
    <h1>魔塔 1.0.1</h1>
    <ul>根据原魔塔游戏改编的纯JS游戏。</ul>
    <ol>
      增加内容
      <li>攻击力从原来的一个数值修改成最小和最大攻击。</li>
      <li>给玩家增加了一个速度属性，并可以捡到速度宝石。</li>
      <li>给玩家的奖励都是一个随机值而不再是固定值，增加游戏乐趣。</li>
      <li>增加了打仗窗口，玩家可以看见与怪物打仗的具体细节。</li>
      <li>打仗时增加了愤怒值，这个随机数会给玩家和怪物更高的攻击。</li>
    </ol>
    <h1><button id="beginGameBtn">开始游戏</button></h1>
  </div>
</body>
</html>