<extend name="Public:main" />

<block name="container">
<form id="user_pwd_form" class="form-horizontal" method="post" action="" role="form">
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="username">登录名</label>
		<div class="col-md-4 col-sm-6">
			<input type="text" class="form-control" id="username" value="{$username}" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="old_password">原始密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="old_password" name="old_password" placeholder="请输入原密码" />
		</div>
	</div> 
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="password">新密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码" />
		</div>
	</div> 
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="password2">确认密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="password2" name="password2" placeholder="请重复新密码" />
		</div>
	</div> 
	<div class="form-actions">
		<div class="col-md-2 col-sm-2"></div>
		<a class="btn btn-sm btn-primary" id="submit">提交</a>
		<a href="#" class="btn btn-sm btn-default">返回</a>
	</div>
</form>
</block>

<block name="script">
<script>
$(".subnavbar .mainnav li").removeClass("active");
$(".subnavbar .mainnav li").eq(2).addClass("active");
$("#submit").click(function(){
	swal({
		type: 'error',
		title: '该功能暂未开放',
		allowOutsideClick: false,
		allowEnterKey: false,
		confirmButtonText: '确认',
		animation: false,
		customClass: 'animated wobble'
	});
});
</script>
</block>