<extend name="Public:main" />

<block name="container">
<form id="modifyPwd_form" class="form-horizontal" method="post" action="" role="form">
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="username">登录名</label>
		<div class="col-md-4 col-sm-6">
			<input type="text" class="form-control" id="username" value="{$username}" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="old_password">原始密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="old_password" name="old_password" placeholder="请输入原密码" maxlength="32" />
		</div>
	</div> 
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="password">新密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码" maxlength="32" />
		</div>
	</div> 
	<div class="form-group">
		<label class="col-md-2 col-sm-2 control-label" for="password2">确认密码</label>
		<div class="col-md-4 col-sm-6">
			<input type="password" class="form-control" id="password2" name="password2" placeholder="请重复新密码" maxlength="32" />
		</div>
	</div> 
	<div class="form-actions">
		<div class="col-md-2 col-sm-2"></div>
		<button type="submit" class="btn btn-sm btn-primary">提交</button>
		<a href="javascript:history.back(-1)" class="btn btn-sm btn-default">返回</a>
	</div>
</form>
</block>

<block name="script">
<script>
$(".subnavbar .mainnav li").removeClass("active");
$(".subnavbar .mainnav li").eq(2).addClass("active");

$('#modifyPwd_form').validate({
	errorElement:'span',
	rules:{
		old_password:{required:true},
		password:{required:true},
		password2:{required:true, equalTo:'#password'}
	}
});
</script>
</block>