@charset "utf-8";

body{
  background:linear-gradient(
    rgba(0,0,0,0.2),rgba(0,0,0,0.2)
  ),url('https://wuguangnuo-1257896087.cos.ap-guangzhou.myqcloud.com/mountains2560x1080.jpg') no-repeat fixed;
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  z-index:0;
  font-size:12px;
  font-family:Georgia,Arial,SimSun,"Microsoft Yahei";
  margin:0;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none
}
body,html{
  cursor:url("https://wuguangnuo-1257896087.cos.ap-guangzhou.myqcloud.com/public/img/default.cur"),default
}
a{
  cursor:url("https://wuguangnuo-1257896087.cos.ap-guangzhou.myqcloud.com/public/img/select.cur"),default
}
.home{
  z-index:999;
  position:relative
}
.container{
  margin:2% auto auto;
  width:480px;
  height:auto;
  display:block
}
.container .title a{
  font-size:2.5em;
  font-weight:900;
  text-align:center;
  color:#333;
  display:block;
  margin:10px;
  padding:20px;
  background-color:#eee;
  border-radius:15px
}
.link{
  width:100%;
  height:auto;
  padding-left:0;
  display:inline-block;
  margin:0
}
.link li{
  width:100%;
  height:36px;
  font-size:16px;
  font-weight:700;
  line-height:36px;
  list-style:none;
  display:block
}
.link li a{
  text-align:center;
  width:100%;
  height:100%;
  border-radius:5px
}
.link li:not(:last-child){
  margin-bottom:8px
}
.footer{
  clear:both;
  text-align:center;
  min-height:15px;
  margin-top:10px;
  padding-top:10px;
  margin-bottom:10px;
  padding-bottom:10px;
  font-family:Arial,SimSun,"Microsoft Yahei";
  color:#fff
}
a{
  text-decoration:none;
  display:block
}
.button{
  background-color:#ebebeb;
  color:#333
}
.button:hover{
  background-color:#6b6b6b;
  color:#fff
}
a.button_green{
  background-color:#5cb85c;
  border-color:#4cae4c;
  color:#fff
}
a.button_green:hover{
  background-color:#449d44;
  border-color:#398439
}
a.button_yellow{
  background-color:#f0ad4e;
  border-color:#eea236;
  color:#fff
}
a.button_yellow:hover{
  background-color:#ec971f;
  border-color:#d58512
}

@media (max-width:979px){
  .container{
    width:92%;
    height:100%;
    margin:20px 3%;
    display:block
  }
  .container .title a{
    margin:auto auto 10px
  }
  .link li{
    height:42px;
    line-height:42px
  }
  .link li+li{
    width:49%;
    display:inline-block;
    float:right
  }
  .link li+li:nth-of-type(even){
    float:left
  }
  .link li:not(:last-child){
    margin-bottom:10px
  }
  .link li a{
    font-size:14px
  }
}