@charset "utf-8";

/* 滚动条 */
::-webkit-scrollbar{
  width:10px;
  height:10px
}
::-webkit-scrollbar-button{
  width:0;
  height:0
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement{
  display:none
}
::-webkit-scrollbar-corner{
  display:block
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius:8px;
  border-radius:8px;
  background-color:rgba(0,0,0,0.2)
}
::-webkit-scrollbar-thumb:hover{
  -webkit-border-radius:8px;
  border-radius:8px;
  background-color:rgba(0,0,0,0.5)
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{
  border-right:1px solid transparent;
  border-left:1px solid transparent
}
::-webkit-scrollbar-track:hover{
  background-color:rgba(0,0,0,0.15)
}
::-webkit-scrollbar-button:start{
  width:10px;
  height:10px;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFmZmZ////g+4zGQAAAAJ0Uk5T/wDltzBKAAAAJklEQVR42mJghAMGNCYDA4zJwABmM0BYIDYDlAVkM+A2AYMJEGAAETAAUYHFuhgAAAAASUVORK5CYII=)
}
::-webkit-scrollbar-button:start:hover{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5QTFRF////f39/ZmZmn5+fo6Oj2NjY09PT39/f29vb////UQ7TPwAAAAp0Uk5T////////////ALLMLM8AAAA9SURBVHjaPMw5EgAgCATBZUHB/39YDssOYAIKbJWmG+porpBcZA6pJKsr2Sr59MEQWEyFYdn8tYXzXQEGACNoAOlKVBDIAAAAAElFTkSuQmCC)
}
::-webkit-scrollbar-button:start:active{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFQTFRFsrKy/f39jIyM6urq6OjoxcXFyMjI5eXl6+vrmJiY////zoF5WAAAAAt0Uk5T/////////////wBKTwHyAAAAPUlEQVR42jzMWwoAIAhE0fFd7X/B2Qgd/LiIiApQFGIJrV6JmaqZ4KW2SaWXe3LzgHqbPh880UPpON8VYAAyiAEtb5uiIAAAAABJRU5ErkJggg==)
}
::-webkit-scrollbar-button:end{
  width:10px;
  height:10px;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFmZmZ////g+4zGQAAAAJ0Uk5T/wDltzBKAAAAIUlEQVR42mJghAMGwkwGKACJQllgBRAWRC0DA24TAAIMABIMAFG5i2lyAAAAAElFTkSuQmCC)
}
::-webkit-scrollbar-button:end:hover{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5QTFRF////f39/ZmZmn5+fo6Oj2NjY09PT39/f29vb////UQ7TPwAAAAp0Uk5T////////////ALLMLM8AAAA7SURBVHjaPMxJDgAgCATBRlD0/x+WxdinCsnA+bFUKl2oU7kivAQZryCtvFKmSSpgu1fbmNZ/bV4BBgBAHADpfNe3TAAAAABJRU5ErkJggg==)
}
::-webkit-scrollbar-button:end:active{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFQTFRFsrKy/f39jIyM6urq6OjoxcXFyMjI5eXl6+vrmJiY////zoF5WAAAAAt0Uk5T/////////////wBKTwHyAAAAP0lEQVR42jyMSQ7AMAwCoV6S9P8PLsFSRxxGYBnvD1bB1EJtmq2KYajlPOZIOXpbxrUYlfu2cz5kQzGdnwADAFIoAS2MgDalAAAAAElFTkSuQmCC)
}

/* 主体样式 */
body{
  background:url("../img/beach.jpg") repeat
}
hr{
  height:2px;
  border:none;
  border-top:1px dashed #6cf
}
time{
  font-family:Georgia,"Microsoft YaHei",SimSun
}
.bg-fixed{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background:url("../img/bg-fixed.png") repeat;
}
.postTitle{
  margin-top:50px;
  padding:2px;
  font-family:"Microsoft YaHei",SimSun
}
.postTitle span{
  color:#999
}
.postTitle h2{
  text-shadow:2px 2px 1px #999
}
.panel-body a:hover{
  color:#fff;
  background:#48b;
  text-decoration:none
}
.table-responsive p{
  white-space:pre-wrap;
  word-wrap:break-word;
  word-break:break-all
}
.postCon{
  display:block;
  padding:10px;
  margin:0 0 10px;
  background-color:#f5f5f5;
  border:1px solid #ccc;
  border-radius:6px
}
.postCon h3 a{
  color:#333;
  font-family:"Microsoft Yahei",Tahoma,Arial,SimSun,"Hiragino Sans GB",PMingLiu,Verdana,sans-serif;
  font-weight:500
}
.postCon h3 a:hover{
  color:#f60;
  font-weight:900;
  text-decoration:none
}
.post_msg{
  color:#622;
  font-size:16px;
  font-family:Georgia,"Microsoft YaHei",SimSun
}
.frommysql{
  display:block;
  font-size:16px;
  line-height:1.5em;
  color:#333;
  white-space:pre-wrap;
  word-break:break-all;
  word-wrap:break-word
}
.frommysql blockquote{
  display:block;
  padding:5px 0px;
  margin:0 0 15px;
  border-left:6px solid #ddd;
  background:#eee;
  overflow:auto
}
.fa-search{
  line-height:34px
}

/* 分页样式 */
.pages a,.pages span{
  display:inline-block;
  padding:2px 5px;
  margin:0 1px;
  border:1px solid #f0f0f0;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px
}
.pages a,.pages li{
  display:inline-block;
  list-style: none;
  text-decoration:none; color:#58A0D3
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
  margin:0
}
.pages a:hover{
  border-color:#50A8E6
}
.pages span.current{
  background:#50A8E6;
  color:#FFF;
  font-weight:700;
  border-color:#50A8E6
}

/* 侧边栏 */
.sidebar{  
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none
}
.newsItem{
  max-width:350px;
  background:#eee;
  cursor:pointer
}
#sidebar-follow{
  margin-top:50px
}
.postDesc ,.flippage ,footer{
  cursor:pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none
}

/* 小工具样式 */
#gotop div{
  left:0;
  margin:0;
  overflow:hidden;
  padding:0;
  position:absolute;
  top:0;
  width:149px
}
#gotop .level-2{
  background:url("../img/gotop.png") no-repeat scroll -149px 0 transparent;
  display:black;
  height:250px;
  opacity:0;
  z-index:100
}
#gotop .level-3{
  background:none repeat scroll 0 0 transparent;
  cursor:pointer;
  display:block;
  height:150px;
  z-index:200
}
#gotop{
  background:url("../img/gotop.png") no-repeat scroll 0 0 transparent;
  cursor:default;
  display:block;
  height:250px;
  margin:-125px 0 0;
  overflow:hidden;
  padding:0;
  position:fixed;
  right:0;
  top:80%;
  width:149px;
  z-index:300
}
#gotop2{
  position:fixed;
  right:1%;
  bottom:5%;
  width:36px;
  height:36px;
  border:1px solid #ddd;
  border-radius:3px;
  background-color:#fff;
  font-size:24px;
  color:#00f;
  z-index:300
}