<extend name="Public:main" />

<block name="style">
<style>
.main form input[type=text] {
    width: 300px;
    margin-left: 10px;
    margin-top: 6px
}
.main form textarea {
    width:auto;
    margin-left: 10px;
    margin-top: 6px
}
#submit {
    margin-left: 10px;
    margin-top: 6px
}
</style>
</block>

<block name="container">
<form method="post" action="./insert">
    <input type="text" class="form-control" name="tool_title" placeholder="工具名称" />
    <input type="text" class="form-control" name="tool_author" placeholder="工具作者" />
    <input type="text" class="form-control" name="tool_from" placeholder="工具来源" />
    <input type="text" class="form-control" name="tool_link" placeholder="工具链接" />
    <input type="text" class="form-control" name="tool_img" placeholder="工具图片" />
    <input type="submit" id="submit" class="btn btn-sm btn-success" value="提交">
</form>
</block>