<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>颜色表及html代码</title>
</head>
<body>

<table border="0" width="880" id="table1" bgcolor='#d6dbe7' cellspacing='1' style='word-break: break-all' cellpadding="2" align=center>
<tr><td align=center class=font_14 height="40" bgcolor="#ffffff"><b>颜色表及html代码</b><br /></td></tr>
<tr><td align=center bgcolor="#c7e2fa"></td></tr>

<tr><td bgcolor="#ffffff" valign=top class=font_18>
<br /><table cellspacing=0 cellpadding=0 width='95%' align=center>
<tbody>
<tr>
<td class=topic>
<div>颜色名称及色样表</div></td></tr>
<tr>
<td class=content>
<div>
<table width='100%'>
<tbody>
<tr>
<td width='15%' align=middle>&nbsp;</td>
<td align=middle>颜色名</td>
<td height=28 align=middle>中文名称</td>
<td align=middle>Hex&nbsp;RGB</td>
<td align=middle>十进制 Decimal</td>
<td width='15%' align=middle>&nbsp;</td></tr>
<tr>
<td bgColor=#ffb6c1>&nbsp;</td>
<td bgColor=#dedede>LightPink</td>
<td bgColor=#dedede height=28>浅粉红</td>
<td bgColor=#c0c0c0>#FFB6C1</td>
<td bgColor=#c0c0c0>255,182,193</td>
<td bgColor=#ffb6c1>&nbsp;</td></tr>
<tr>
<td bgColor=#ffc0cb>&nbsp;</td>
<td bgColor=#dedede>Pink</td>
<td bgColor=#dedede height=28>粉红</td>
<td bgColor=#c0c0c0>#FFC0CB</td>
<td bgColor=#c0c0c0>255,192,203</td>
<td bgColor=#ffc0cb>&nbsp;</td></tr>
<tr>
<td bgColor=#dc143c>&nbsp;</td>
<td bgColor=#dedede>Crimson</td>
<td bgColor=#dedede height=28>深红(猩红)</td>
<td bgColor=#c0c0c0>#DC143C</td>
<td bgColor=#c0c0c0>220,20,60</td>
<td bgColor=#dc143c>&nbsp;</td></tr>
<tr>
<td bgColor=#fff0f5>&nbsp;</td>
<td bgColor=#dedede>LavenderBlush</td>
<td bgColor=#dedede height=28>淡紫红</td>
<td bgColor=#c0c0c0>#FFF0F5</td>
<td bgColor=#c0c0c0>255,240,245</td>
<td bgColor=#fff0f5>&nbsp;</td></tr>
<tr>
<td bgColor=#db7093>&nbsp;</td>
<td bgColor=#dedede>PaleVioletRed</td>
<td bgColor=#dedede height=28>弱紫罗兰红</td>
<td bgColor=#c0c0c0>#DB7093</td>
<td bgColor=#c0c0c0>219,112,147</td>
<td bgColor=#db7093>&nbsp;</td></tr>
<tr>
<td bgColor=#ff69b4>&nbsp;</td>
<td bgColor=#dedede>HotPink</td>
<td bgColor=#dedede height=28>热情的粉红</td>
<td bgColor=#c0c0c0>#FF69B4</td>
<td bgColor=#c0c0c0>255,105,180</td>
<td bgColor=#ff69b4>&nbsp;</td></tr>
<tr>
<td bgColor=#ff1493>&nbsp;</td>
<td bgColor=#dedede>DeepPink</td>
<td bgColor=#dedede height=28>深粉红</td>
<td bgColor=#c0c0c0>#FF1493</td>
<td bgColor=#c0c0c0>255,20,147</td>
<td bgColor=#ff1493>&nbsp;</td></tr>
<tr>
<td bgColor=#c71585>&nbsp;</td>
<td bgColor=#dedede>MediumVioletRed</td>
<td bgColor=#dedede height=28>中紫罗兰红</td>
<td bgColor=#c0c0c0>#C71585</td>
<td bgColor=#c0c0c0>199,21,133</td>
<td bgColor=#c71585>&nbsp;</td></tr>
<tr>
<td bgColor=#da70d6>&nbsp;</td>
<td bgColor=#dedede>Orchid</td>
<td bgColor=#dedede height=28>暗紫色(兰花紫)</td>
<td bgColor=#c0c0c0>#DA70D6</td>
<td bgColor=#c0c0c0>218,112,214</td>
<td bgColor=#da70d6>&nbsp;</td></tr>
<tr>
<td bgColor=#d8bfd8>&nbsp;</td>
<td bgColor=#dedede>Thistle</td>
<td bgColor=#dedede height=28>蓟色</td>
<td bgColor=#c0c0c0>#D8BFD8</td>
<td bgColor=#c0c0c0>216,191,216</td>
<td bgColor=#d8bfd8>&nbsp;</td></tr>
<tr>
<td bgColor=#dda0dd>&nbsp;</td>
<td bgColor=#dedede>Plum</td>
<td bgColor=#dedede height=28>洋李色(李子紫)</td>
<td bgColor=#c0c0c0>#DDA0DD</td>
<td bgColor=#c0c0c0>221,160,221</td>
<td bgColor=#dda0dd>&nbsp;</td></tr>
<tr>
<td bgColor=#ee82ee>&nbsp;</td>
<td bgColor=#dedede>Violet</td>
<td bgColor=#dedede height=28>紫罗兰</td>
<td bgColor=#c0c0c0>#EE82EE</td>
<td bgColor=#c0c0c0>238,130,238</td>
<td bgColor=#ee82ee>&nbsp;</td></tr>
<tr>
<td bgColor=#ff00ff>&nbsp;</td>
<td bgColor=#dedede>Magenta</td>
<td bgColor=#dedede height=28>洋红(玫瑰红)</td>
<td bgColor=#c0c0c0>#FF00FF</td>
<td bgColor=#c0c0c0>255,0,255</td>
<td bgColor=#ff00ff>&nbsp;</td></tr>
<tr>
<td bgColor=#ff00ff>&nbsp;</td>
<td bgColor=#dedede>Fuchsia</td>
<td bgColor=#dedede height=28>紫红(灯笼海棠)</td>
<td bgColor=#c0c0c0>#FF00FF</td>
<td bgColor=#c0c0c0>255,0,255</td>
<td bgColor=#ff00ff>&nbsp;</td></tr>
<tr>
<td bgColor=#8b008b>&nbsp;</td>
<td bgColor=#dedede>DarkMagenta</td>
<td bgColor=#dedede height=28>深洋红</td>
<td bgColor=#c0c0c0>#8B008B</td>
<td bgColor=#c0c0c0>139,0,139</td>
<td bgColor=#8b008b>&nbsp;</td></tr>
<tr>
<td bgColor=#800080>&nbsp;</td>
<td bgColor=#dedede>Purple</td>
<td bgColor=#dedede height=28>紫色</td>
<td bgColor=#c0c0c0>#800080</td>
<td bgColor=#c0c0c0>128,0,128</td>
<td bgColor=#800080>&nbsp;</td></tr>
<tr>
<td bgColor=#ba55d3>&nbsp;</td>
<td bgColor=#dedede>MediumOrchid</td>
<td bgColor=#dedede height=28>中兰花紫</td>
<td bgColor=#c0c0c0>#BA55D3</td>
<td bgColor=#c0c0c0>186,85,211</td>
<td bgColor=#ba55d3>&nbsp;</td></tr>
<tr>
<td bgColor=#9400d3>&nbsp;</td>
<td bgColor=#dedede>DarkViolet</td>
<td bgColor=#dedede height=28>暗紫罗兰</td>
<td bgColor=#c0c0c0>#9400D3</td>
<td bgColor=#c0c0c0>148,0,211</td>
<td bgColor=#9400d3>&nbsp;</td></tr>
<tr>
<td bgColor=#9932cc>&nbsp;</td>
<td bgColor=#dedede>DarkOrchid</td>
<td bgColor=#dedede height=28>暗兰花紫</td>
<td bgColor=#c0c0c0>#9932CC</td>
<td bgColor=#c0c0c0>153,50,204</td>
<td bgColor=#9932cc>&nbsp;</td></tr>
<tr>
<td bgColor=#4b0082>&nbsp;</td>
<td bgColor=#dedede>Indigo</td>
<td bgColor=#dedede height=28>靛青/紫兰色</td>
<td bgColor=#c0c0c0>#4B0082</td>
<td bgColor=#c0c0c0>75,0,130</td>
<td bgColor=#4b0082>&nbsp;</td></tr>
<tr>
<td bgColor=#8a2be2>&nbsp;</td>
<td bgColor=#dedede>BlueViolet</td>
<td bgColor=#dedede height=28>蓝紫罗兰</td>
<td bgColor=#c0c0c0>#8A2BE2</td>
<td bgColor=#c0c0c0>138,43,226</td>
<td bgColor=#8a2be2>&nbsp;</td></tr>
<tr>
<td bgColor=#9370db>&nbsp;</td>
<td bgColor=#dedede>MediumPurple</td>
<td bgColor=#dedede height=28>中紫色</td>
<td bgColor=#c0c0c0>#9370DB</td>
<td bgColor=#c0c0c0>147,112,219</td>
<td bgColor=#9370db>&nbsp;</td></tr>
<tr>
<td bgColor=#7b68ee>&nbsp;</td>
<td bgColor=#dedede>MediumSlateBlue</td>
<td bgColor=#dedede height=28>中暗蓝色(中板岩蓝)</td>
<td bgColor=#c0c0c0>#7B68EE</td>
<td bgColor=#c0c0c0>123,104,238</td>
<td bgColor=#7b68ee>&nbsp;</td></tr>
<tr>
<td bgColor=#6a5acd>&nbsp;</td>
<td bgColor=#dedede>SlateBlue</td>
<td bgColor=#dedede height=28>石蓝色(板岩蓝)</td>
<td bgColor=#c0c0c0>#6A5ACD</td>
<td bgColor=#c0c0c0>106,90,205</td>
<td bgColor=#6a5acd>&nbsp;</td></tr>
<tr>
<td bgColor=#483d8b>&nbsp;</td>
<td bgColor=#dedede>DarkSlateBlue</td>
<td bgColor=#dedede height=28>暗灰蓝色(暗板岩蓝)</td>
<td bgColor=#c0c0c0>#483D8B</td>
<td bgColor=#c0c0c0>72,61,139</td>
<td bgColor=#483d8b>&nbsp;</td></tr>
<tr>
<td bgColor=#e6e6fa>&nbsp;</td>
<td bgColor=#dedede>Lavender</td>
<td bgColor=#dedede height=28>淡紫色(熏衣草淡紫)</td>
<td bgColor=#c0c0c0>#E6E6FA</td>
<td bgColor=#c0c0c0>230,230,250</td>
<td bgColor=#e6e6fa>&nbsp;</td></tr>
<tr>
<td bgColor=#f8f8ff>&nbsp;</td>
<td bgColor=#dedede>GhostWhite</td>
<td bgColor=#dedede height=28>幽灵白</td>
<td bgColor=#c0c0c0>#F8F8FF</td>
<td bgColor=#c0c0c0>248,248,255</td>
<td bgColor=#f8f8ff>&nbsp;</td></tr>
<tr>
<td bgColor=#0000ff>&nbsp;</td>
<td bgColor=#dedede>Blue</td>
<td bgColor=#dedede height=28>纯蓝</td>
<td bgColor=#c0c0c0>#0000FF</td>
<td bgColor=#c0c0c0>0,0,255</td>
<td bgColor=#0000ff>&nbsp;</td></tr>
<tr>
<td bgColor=#0000cd>&nbsp;</td>
<td bgColor=#dedede>MediumBlue</td>
<td bgColor=#dedede height=28>中蓝色</td>
<td bgColor=#c0c0c0>#0000CD</td>
<td bgColor=#c0c0c0>0,0,205</td>
<td bgColor=#0000cd>&nbsp;</td></tr>
<tr>
<td bgColor=#191970>&nbsp;</td>
<td bgColor=#dedede>MidnightBlue</td>
<td bgColor=#dedede height=28>午夜蓝</td>
<td bgColor=#c0c0c0>#191970</td>
<td bgColor=#c0c0c0>25,25,112</td>
<td bgColor=#191970>&nbsp;</td></tr>
<tr>
<td bgColor=#00008b>&nbsp;</td>
<td bgColor=#dedede>DarkBlue</td>
<td bgColor=#dedede height=28>暗蓝色</td>
<td bgColor=#c0c0c0>#00008B</td>
<td bgColor=#c0c0c0>0,0,139</td>
<td bgColor=#00008b>&nbsp;</td></tr>
<tr>
<td bgColor=#000080>&nbsp;</td>
<td bgColor=#dedede>Navy</td>
<td bgColor=#dedede height=28>海军蓝</td>
<td bgColor=#c0c0c0>#000080</td>
<td bgColor=#c0c0c0>0,0,128</td>
<td bgColor=#000080>&nbsp;</td></tr>
<tr>
<td bgColor=#4169e1>&nbsp;</td>
<td bgColor=#dedede>RoyalBlue</td>
<td bgColor=#dedede height=28>皇家蓝/宝蓝</td>
<td bgColor=#c0c0c0>#4169E1</td>
<td bgColor=#c0c0c0>65,105,225</td>
<td bgColor=#4169e1>&nbsp;</td></tr>
<tr>
<td bgColor=#6495ed>&nbsp;</td>
<td bgColor=#dedede>CornflowerBlue</td>
<td bgColor=#dedede height=28>矢车菊蓝</td>
<td bgColor=#c0c0c0>#6495ED</td>
<td bgColor=#c0c0c0>100,149,237</td>
<td bgColor=#6495ed>&nbsp;</td></tr>
<tr>
<td bgColor=#b0c4de>&nbsp;</td>
<td bgColor=#dedede>LightSteelBlue</td>
<td bgColor=#dedede height=28>亮钢蓝</td>
<td bgColor=#c0c0c0>#B0C4DE</td>
<td bgColor=#c0c0c0>176,196,222</td>
<td bgColor=#b0c4de>&nbsp;</td></tr>
<tr>
<td bgColor=#778899>&nbsp;</td>
<td bgColor=#dedede>LightSlateGray</td>
<td bgColor=#dedede height=28>亮蓝灰(亮石板灰)</td>
<td bgColor=#c0c0c0>#778899</td>
<td bgColor=#c0c0c0>119,136,153</td>
<td bgColor=#778899>&nbsp;</td></tr>
<tr>
<td bgColor=#708090>&nbsp;</td>
<td bgColor=#dedede>SlateGray</td>
<td bgColor=#dedede height=28>灰石色(石板灰)</td>
<td bgColor=#c0c0c0>#708090</td>
<td bgColor=#c0c0c0>112,128,144</td>
<td bgColor=#708090>&nbsp;</td></tr>
<tr>
<td bgColor=#1e90ff>&nbsp;</td>
<td bgColor=#dedede>DodgerBlue</td>
<td bgColor=#dedede height=28>闪兰色(道奇蓝)</td>
<td bgColor=#c0c0c0>#1E90FF</td>
<td bgColor=#c0c0c0>30,144,255</td>
<td bgColor=#1e90ff>&nbsp;</td></tr>
<tr>
<td bgColor=#f0f8ff>&nbsp;</td>
<td bgColor=#dedede>AliceBlue</td>
<td bgColor=#dedede height=28>爱丽丝蓝</td>
<td bgColor=#c0c0c0>#F0F8FF</td>
<td bgColor=#c0c0c0>240,248,255</td>
<td bgColor=#f0f8ff>&nbsp;</td></tr>
<tr>
<td bgColor=#4682b4>&nbsp;</td>
<td bgColor=#dedede>SteelBlue</td>
<td bgColor=#dedede height=28>钢蓝/铁青</td>
<td bgColor=#c0c0c0>#4682B4</td>
<td bgColor=#c0c0c0>70,130,180</td>
<td bgColor=#4682b4>&nbsp;</td></tr>
<tr>
<td bgColor=#87cefa>&nbsp;</td>
<td bgColor=#dedede>LightSkyBlue</td>
<td bgColor=#dedede height=28>亮天蓝色</td>
<td bgColor=#c0c0c0>#87CEFA</td>
<td bgColor=#c0c0c0>135,206,250</td>
<td bgColor=#87cefa>&nbsp;</td></tr>
<tr>
<td bgColor=#87ceeb>&nbsp;</td>
<td bgColor=#dedede>SkyBlue</td>
<td bgColor=#dedede height=28>天蓝色</td>
<td bgColor=#c0c0c0>#87CEEB</td>
<td bgColor=#c0c0c0>135,206,235</td>
<td bgColor=#87ceeb>&nbsp;</td></tr>
<tr>
<td bgColor=#00bfff>&nbsp;</td>
<td bgColor=#dedede>DeepSkyBlue</td>
<td bgColor=#dedede height=28>深天蓝</td>
<td bgColor=#c0c0c0>#00BFFF</td>
<td bgColor=#c0c0c0>0,191,255</td>
<td bgColor=#00bfff>&nbsp;</td></tr>
<tr>
<td bgColor=#add8e6>&nbsp;</td>
<td bgColor=#dedede>LightBlue</td>
<td bgColor=#dedede height=28>亮蓝</td>
<td bgColor=#c0c0c0>#ADD8E6</td>
<td bgColor=#c0c0c0>173,216,230</td>
<td bgColor=#add8e6>&nbsp;</td></tr>
<tr>
<td bgColor=#b0e0e6>&nbsp;</td>
<td bgColor=#dedede>PowderBlue</td>
<td bgColor=#dedede height=28>粉蓝色(火药青)</td>
<td bgColor=#c0c0c0>#B0E0E6</td>
<td bgColor=#c0c0c0>176,224,230</td>
<td bgColor=#b0e0e6>&nbsp;</td></tr>
<tr>
<td bgColor=#5f9ea0>&nbsp;</td>
<td bgColor=#dedede>CadetBlue</td>
<td bgColor=#dedede height=28>军兰色(军服蓝)</td>
<td bgColor=#c0c0c0>#5F9EA0</td>
<td bgColor=#c0c0c0>95,158,160</td>
<td bgColor=#5f9ea0>&nbsp;</td></tr>
<tr>
<td bgColor=#f0ffff>&nbsp;</td>
<td bgColor=#dedede>Azure</td>
<td bgColor=#dedede height=28>蔚蓝色</td>
<td bgColor=#c0c0c0>#F0FFFF</td>
<td bgColor=#c0c0c0>240,255,255</td>
<td bgColor=#f0ffff>&nbsp;</td></tr>
<tr>
<td bgColor=#e0ffff>&nbsp;</td>
<td bgColor=#dedede>LightCyan</td>
<td bgColor=#dedede height=28>淡青色</td>
<td bgColor=#c0c0c0>#E0FFFF</td>
<td bgColor=#c0c0c0>224,255,255</td>
<td bgColor=#e0ffff>&nbsp;</td></tr>
<tr>
<td bgColor=#afeeee>&nbsp;</td>
<td bgColor=#dedede>PaleTurquoise</td>
<td bgColor=#dedede height=28>弱绿宝石</td>
<td bgColor=#c0c0c0>#AFEEEE</td>
<td bgColor=#c0c0c0>175,238,238</td>
<td bgColor=#afeeee>&nbsp;</td></tr>
<tr>
<td bgColor=#00ffff>&nbsp;</td>
<td bgColor=#dedede>Cyan</td>
<td bgColor=#dedede height=28>青色</td>
<td bgColor=#c0c0c0>#00FFFF</td>
<td bgColor=#c0c0c0>0,255,255</td>
<td bgColor=#00ffff>&nbsp;</td></tr>
<tr>
<td bgColor=#00ffff>&nbsp;</td>
<td bgColor=#dedede>Aqua</td>
<td bgColor=#dedede height=28>浅绿色(水色)</td>
<td bgColor=#c0c0c0>#00FFFF</td>
<td bgColor=#c0c0c0>0,255,255</td>
<td bgColor=#00ffff>&nbsp;</td></tr>
<tr>
<td bgColor=#00ced1>&nbsp;</td>
<td bgColor=#dedede>DarkTurquoise</td>
<td bgColor=#dedede height=28>暗绿宝石</td>
<td bgColor=#c0c0c0>#00CED1</td>
<td bgColor=#c0c0c0>0,206,209</td>
<td bgColor=#00ced1>&nbsp;</td></tr>
<tr>
<td bgColor=#2f4f4f>&nbsp;</td>
<td bgColor=#dedede>DarkSlateGray</td>
<td bgColor=#dedede height=28>暗瓦灰色(暗石板灰)</td>
<td bgColor=#c0c0c0>#2F4F4F</td>
<td bgColor=#c0c0c0>47,79,79</td>
<td bgColor=#2f4f4f>&nbsp;</td></tr>
<tr>
<td bgColor=#008b8b>&nbsp;</td>
<td bgColor=#dedede>DarkCyan</td>
<td bgColor=#dedede height=28>暗青色</td>
<td bgColor=#c0c0c0>#008B8B</td>
<td bgColor=#c0c0c0>0,139,139</td>
<td bgColor=#008b8b>&nbsp;</td></tr>
<tr>
<td bgColor=#008080>&nbsp;</td>
<td bgColor=#dedede>Teal</td>
<td bgColor=#dedede height=28>水鸭色</td>
<td bgColor=#c0c0c0>#008080</td>
<td bgColor=#c0c0c0>0,128,128</td>
<td bgColor=#008080>&nbsp;</td></tr>
<tr>
<td bgColor=#48d1cc>&nbsp;</td>
<td bgColor=#dedede>MediumTurquoise</td>
<td bgColor=#dedede height=28>中绿宝石</td>
<td bgColor=#c0c0c0>#48D1CC</td>
<td bgColor=#c0c0c0>72,209,204</td>
<td bgColor=#48d1cc>&nbsp;</td></tr>
<tr>
<td bgColor=#20b2aa>&nbsp;</td>
<td bgColor=#dedede>LightSeaGreen</td>
<td bgColor=#dedede height=28>浅海洋绿</td>
<td bgColor=#c0c0c0>#20B2AA</td>
<td bgColor=#c0c0c0>32,178,170</td>
<td bgColor=#20b2aa>&nbsp;</td></tr>
<tr>
<td bgColor=#40e0d0>&nbsp;</td>
<td bgColor=#dedede>Turquoise</td>
<td bgColor=#dedede height=28>绿宝石</td>
<td bgColor=#c0c0c0>#40E0D0</td>
<td bgColor=#c0c0c0>64,224,208</td>
<td bgColor=#40e0d0>&nbsp;</td></tr>
<tr>
<td bgColor=#7fffd4>&nbsp;</td>
<td bgColor=#dedede>Aquamarine</td>
<td bgColor=#dedede height=28>宝石碧绿</td>
<td bgColor=#c0c0c0>#7FFFD4</td>
<td bgColor=#c0c0c0>127,255,212</td>
<td bgColor=#7fffd4>&nbsp;</td></tr>
<tr>
<td bgColor=#66cdaa>&nbsp;</td>
<td bgColor=#dedede>MediumAquamarine</td>
<td bgColor=#dedede height=28>中宝石碧绿</td>
<td bgColor=#c0c0c0>#66CDAA</td>
<td bgColor=#c0c0c0>102,205,170</td>
<td bgColor=#66cdaa>&nbsp;</td></tr>
<tr>
<td bgColor=#00fa9a>&nbsp;</td>
<td bgColor=#dedede>MediumSpringGreen</td>
<td bgColor=#dedede height=28>中春绿色</td>
<td bgColor=#c0c0c0>#00FA9A</td>
<td bgColor=#c0c0c0>0,250,154</td>
<td bgColor=#00fa9a>&nbsp;</td></tr>
<tr>
<td bgColor=#f5fffa>&nbsp;</td>
<td bgColor=#dedede>MintCream</td>
<td bgColor=#dedede height=28>薄荷奶油</td>
<td bgColor=#c0c0c0>#F5FFFA</td>
<td bgColor=#c0c0c0>245,255,250</td>
<td bgColor=#f5fffa>&nbsp;</td></tr>
<tr>
<td bgColor=#00ff7f>&nbsp;</td>
<td bgColor=#dedede>SpringGreen</td>
<td bgColor=#dedede height=28>春绿色</td>
<td bgColor=#c0c0c0>#00FF7F</td>
<td bgColor=#c0c0c0>0,255,127</td>
<td bgColor=#00ff7f>&nbsp;</td></tr>
<tr>
<td bgColor=#3cb371>&nbsp;</td>
<td bgColor=#dedede>MediumSeaGreen</td>
<td bgColor=#dedede height=28>中海洋绿</td>
<td bgColor=#c0c0c0>#3CB371</td>
<td bgColor=#c0c0c0>60,179,113</td>
<td bgColor=#3cb371>&nbsp;</td></tr>
<tr>
<td bgColor=#2e8b57>&nbsp;</td>
<td bgColor=#dedede>SeaGreen</td>
<td bgColor=#dedede height=28>海洋绿</td>
<td bgColor=#c0c0c0>#2E8B57</td>
<td bgColor=#c0c0c0>46,139,87</td>
<td bgColor=#2e8b57>&nbsp;</td></tr>
<tr>
<td bgColor=#f0fff0>&nbsp;</td>
<td bgColor=#dedede>Honeydew</td>
<td bgColor=#dedede height=28>蜜色(蜜瓜色)</td>
<td bgColor=#c0c0c0>#F0FFF0</td>
<td bgColor=#c0c0c0>240,255,240</td>
<td bgColor=#f0fff0>&nbsp;</td></tr>
<tr>
<td bgColor=#90ee90>&nbsp;</td>
<td bgColor=#dedede>LightGreen</td>
<td bgColor=#dedede height=28>淡绿色</td>
<td bgColor=#c0c0c0>#90EE90</td>
<td bgColor=#c0c0c0>144,238,144</td>
<td bgColor=#90ee90>&nbsp;</td></tr>
<tr>
<td bgColor=#98fb98>&nbsp;</td>
<td bgColor=#dedede>PaleGreen</td>
<td bgColor=#dedede height=28>弱绿色</td>
<td bgColor=#c0c0c0>#98FB98</td>
<td bgColor=#c0c0c0>152,251,152</td>
<td bgColor=#98fb98>&nbsp;</td></tr>
<tr>
<td bgColor=#8fbc8f>&nbsp;</td>
<td bgColor=#dedede>DarkSeaGreen</td>
<td bgColor=#dedede height=28>暗海洋绿</td>
<td bgColor=#c0c0c0>#8FBC8F</td>
<td bgColor=#c0c0c0>143,188,143</td>
<td bgColor=#8fbc8f>&nbsp;</td></tr>
<tr>
<td bgColor=#32cd32>&nbsp;</td>
<td bgColor=#dedede>LimeGreen</td>
<td bgColor=#dedede height=28>闪光深绿</td>
<td bgColor=#c0c0c0>#32CD32</td>
<td bgColor=#c0c0c0>50,205,50</td>
<td bgColor=#32cd32>&nbsp;</td></tr>
<tr>
<td bgColor=#00ff00>&nbsp;</td>
<td bgColor=#dedede>Lime</td>
<td bgColor=#dedede height=28>闪光绿</td>
<td bgColor=#c0c0c0>#00FF00</td>
<td bgColor=#c0c0c0>0,255,0</td>
<td bgColor=#00ff00>&nbsp;</td></tr>
<tr>
<td bgColor=#228b22>&nbsp;</td>
<td bgColor=#dedede>ForestGreen</td>
<td bgColor=#dedede height=28>森林绿</td>
<td bgColor=#c0c0c0>#228B22</td>
<td bgColor=#c0c0c0>34,139,34</td>
<td bgColor=#228b22>&nbsp;</td></tr>
<tr>
<td bgColor=#008000>&nbsp;</td>
<td bgColor=#dedede>Green</td>
<td bgColor=#dedede height=28>纯绿</td>
<td bgColor=#c0c0c0>#008000</td>
<td bgColor=#c0c0c0>0,128,0</td>
<td bgColor=#008000>&nbsp;</td></tr>
<tr>
<td bgColor=#006400>&nbsp;</td>
<td bgColor=#dedede>DarkGreen</td>
<td bgColor=#dedede height=28>暗绿色</td>
<td bgColor=#c0c0c0>#006400</td>
<td bgColor=#c0c0c0>0,100,0</td>
<td bgColor=#006400>&nbsp;</td></tr>
<tr>
<td bgColor=#7fff00>&nbsp;</td>
<td bgColor=#dedede>Chartreuse</td>
<td bgColor=#dedede height=28>黄绿色(查特酒绿)</td>
<td bgColor=#c0c0c0>#7FFF00</td>
<td bgColor=#c0c0c0>127,255,0</td>
<td bgColor=#7fff00>&nbsp;</td></tr>
<tr>
<td bgColor=#7cfc00>&nbsp;</td>
<td bgColor=#dedede>LawnGreen</td>
<td bgColor=#dedede height=28>草绿色(草坪绿_</td>
<td bgColor=#c0c0c0>#7CFC00</td>
<td bgColor=#c0c0c0>124,252,0</td>
<td bgColor=#7cfc00>&nbsp;</td></tr>
<tr>
<td bgColor=#adff2f>&nbsp;</td>
<td bgColor=#dedede>GreenYellow</td>
<td bgColor=#dedede height=28>绿黄色</td>
<td bgColor=#c0c0c0>#ADFF2F</td>
<td bgColor=#c0c0c0>173,255,47</td>
<td bgColor=#adff2f>&nbsp;</td></tr>
<tr>
<td bgColor=#556b2f>&nbsp;</td>
<td bgColor=#dedede>DarkOliveGreen</td>
<td bgColor=#dedede height=28>暗橄榄绿</td>
<td bgColor=#c0c0c0>#556B2F</td>
<td bgColor=#c0c0c0>85,107,47</td>
<td bgColor=#556b2f>&nbsp;</td></tr>
<tr>
<td bgColor=#9acd32>&nbsp;</td>
<td bgColor=#dedede>YellowGreen</td>
<td bgColor=#dedede height=28>黄绿色</td>
<td bgColor=#c0c0c0>#9ACD32</td>
<td bgColor=#c0c0c0>154,205,50</td>
<td bgColor=#9acd32>&nbsp;</td></tr>
<tr>
<td bgColor=#6b8e23>&nbsp;</td>
<td bgColor=#dedede>OliveDrab</td>
<td bgColor=#dedede height=28>橄榄褐色</td>
<td bgColor=#c0c0c0>#6B8E23</td>
<td bgColor=#c0c0c0>107,142,35</td>
<td bgColor=#6b8e23>&nbsp;</td></tr>
<tr>
<td bgColor=#f5f5dc>&nbsp;</td>
<td bgColor=#dedede>Beige</td>
<td bgColor=#dedede height=28>米色/灰棕色</td>
<td bgColor=#c0c0c0>#F5F5DC</td>
<td bgColor=#c0c0c0>245,245,220</td>
<td bgColor=#f5f5dc>&nbsp;</td></tr>
<tr>
<td bgColor=#fafad2>&nbsp;</td>
<td bgColor=#dedede>LightGoldenrodYellow</td>
<td bgColor=#dedede height=28>亮菊黄</td>
<td bgColor=#c0c0c0>#FAFAD2</td>
<td bgColor=#c0c0c0>250,250,210</td>
<td bgColor=#fafad2>&nbsp;</td></tr>
<tr>
<td bgColor=#fffff0>&nbsp;</td>
<td bgColor=#dedede>Ivory</td>
<td bgColor=#dedede height=28>象牙色</td>
<td bgColor=#c0c0c0>#FFFFF0</td>
<td bgColor=#c0c0c0>255,255,240</td>
<td bgColor=#fffff0>&nbsp;</td></tr>
<tr>
<td bgColor=#ffffe0>&nbsp;</td>
<td bgColor=#dedede>LightYellow</td>
<td bgColor=#dedede height=28>浅黄色</td>
<td bgColor=#c0c0c0>#FFFFE0</td>
<td bgColor=#c0c0c0>255,255,224</td>
<td bgColor=#ffffe0>&nbsp;</td></tr>
<tr>
<td bgColor=#ffff00>&nbsp;</td>
<td bgColor=#dedede>Yellow</td>
<td bgColor=#dedede height=28>纯黄</td>
<td bgColor=#c0c0c0>#FFFF00</td>
<td bgColor=#c0c0c0>255,255,0</td>
<td bgColor=#ffff00>&nbsp;</td></tr>
<tr>
<td bgColor=#808000>&nbsp;</td>
<td bgColor=#dedede>Olive</td>
<td bgColor=#dedede height=28>橄榄</td>
<td bgColor=#c0c0c0>#808000</td>
<td bgColor=#c0c0c0>128,128,0</td>
<td bgColor=#808000>&nbsp;</td></tr>
<tr>
<td bgColor=#bdb76b>&nbsp;</td>
<td bgColor=#dedede>DarkKhaki</td>
<td bgColor=#dedede height=28>暗黄褐色(深卡叽布)</td>
<td bgColor=#c0c0c0>#BDB76B</td>
<td bgColor=#c0c0c0>189,183,107</td>
<td bgColor=#bdb76b>&nbsp;</td></tr>
<tr>
<td bgColor=#fffacd>&nbsp;</td>
<td bgColor=#dedede>LemonChiffon</td>
<td bgColor=#dedede height=28>柠檬绸</td>
<td bgColor=#c0c0c0>#FFFACD</td>
<td bgColor=#c0c0c0>255,250,205</td>
<td bgColor=#fffacd>&nbsp;</td></tr>
<tr>
<td bgColor=#eee8aa>&nbsp;</td>
<td bgColor=#dedede>PaleGoldenrod</td>
<td bgColor=#dedede height=28>灰菊黄(苍麒麟色)</td>
<td bgColor=#c0c0c0>#EEE8AA</td>
<td bgColor=#c0c0c0>238,232,170</td>
<td bgColor=#eee8aa>&nbsp;</td></tr>
<tr>
<td bgColor=#f0e68c>&nbsp;</td>
<td bgColor=#dedede>Khaki</td>
<td bgColor=#dedede height=28>黄褐色(卡叽布)</td>
<td bgColor=#c0c0c0>#F0E68C</td>
<td bgColor=#c0c0c0>240,230,140</td>
<td bgColor=#f0e68c>&nbsp;</td></tr>
<tr>
<td bgColor=#ffd700>&nbsp;</td>
<td bgColor=#dedede>Gold</td>
<td bgColor=#dedede height=28>金色</td>
<td bgColor=#c0c0c0>#FFD700</td>
<td bgColor=#c0c0c0>255,215,0</td>
<td bgColor=#ffd700>&nbsp;</td></tr>
<tr>
<td bgColor=#fff8dc>&nbsp;</td>
<td bgColor=#dedede>Cornsilk</td>
<td bgColor=#dedede height=28>玉米丝色</td>
<td bgColor=#c0c0c0>#FFF8DC</td>
<td bgColor=#c0c0c0>255,248,220</td>
<td bgColor=#fff8dc>&nbsp;</td></tr>
<tr>
<td bgColor=#daa520>&nbsp;</td>
<td bgColor=#dedede>Goldenrod</td>
<td bgColor=#dedede height=28>金菊黄</td>
<td bgColor=#c0c0c0>#DAA520</td>
<td bgColor=#c0c0c0>218,165,32</td>
<td bgColor=#daa520>&nbsp;</td></tr>
<tr>
<td bgColor=#b8860b>&nbsp;</td>
<td bgColor=#dedede>DarkGoldenrod</td>
<td bgColor=#dedede height=28>暗金菊黄</td>
<td bgColor=#c0c0c0>#B8860B</td>
<td bgColor=#c0c0c0>184,134,11</td>
<td bgColor=#b8860b>&nbsp;</td></tr>
<tr>
<td bgColor=#fffaf0>&nbsp;</td>
<td bgColor=#dedede>FloralWhite</td>
<td bgColor=#dedede height=28>花的白色</td>
<td bgColor=#c0c0c0>#FFFAF0</td>
<td bgColor=#c0c0c0>255,250,240</td>
<td bgColor=#fffaf0>&nbsp;</td></tr>
<tr>
<td bgColor=#fdf5e6>&nbsp;</td>
<td bgColor=#dedede>OldLace</td>
<td bgColor=#dedede height=28>老花色(旧蕾丝)</td>
<td bgColor=#c0c0c0>#FDF5E6</td>
<td bgColor=#c0c0c0>253,245,230</td>
<td bgColor=#fdf5e6>&nbsp;</td></tr>
<tr>
<td bgColor=#f5deb3>&nbsp;</td>
<td bgColor=#dedede>Wheat</td>
<td bgColor=#dedede height=28>浅黄色(小麦色)</td>
<td bgColor=#c0c0c0>#F5DEB3</td>
<td bgColor=#c0c0c0>245,222,179</td>
<td bgColor=#f5deb3>&nbsp;</td></tr>
<tr>
<td bgColor=#ffe4b5>&nbsp;</td>
<td bgColor=#dedede>Moccasin</td>
<td bgColor=#dedede height=28>鹿皮色(鹿皮靴)</td>
<td bgColor=#c0c0c0>#FFE4B5</td>
<td bgColor=#c0c0c0>255,228,181</td>
<td bgColor=#ffe4b5>&nbsp;</td></tr>
<tr>
<td bgColor=#ffa500>&nbsp;</td>
<td bgColor=#dedede>Orange</td>
<td bgColor=#dedede height=28>橙色</td>
<td bgColor=#c0c0c0>#FFA500</td>
<td bgColor=#c0c0c0>255,165,0</td>
<td bgColor=#ffa500>&nbsp;</td></tr>
<tr>
<td bgColor=#ffefd5>&nbsp;</td>
<td bgColor=#dedede>PapayaWhip</td>
<td bgColor=#dedede height=28>番木色(番木瓜)</td>
<td bgColor=#c0c0c0>#FFEFD5</td>
<td bgColor=#c0c0c0>255,239,213</td>
<td bgColor=#ffefd5>&nbsp;</td></tr>
<tr>
<td bgColor=#ffebcd>&nbsp;</td>
<td bgColor=#dedede>BlanchedAlmond</td>
<td bgColor=#dedede height=28>白杏色</td>
<td bgColor=#c0c0c0>#FFEBCD</td>
<td bgColor=#c0c0c0>255,235,205</td>
<td bgColor=#ffebcd>&nbsp;</td></tr>
<tr>
<td bgColor=#ffdead>&nbsp;</td>
<td bgColor=#dedede>NavajoWhite</td>
<td bgColor=#dedede height=28>纳瓦白(土著白)</td>
<td bgColor=#c0c0c0>#FFDEAD</td>
<td bgColor=#c0c0c0>255,222,173</td>
<td bgColor=#ffdead>&nbsp;</td></tr>
<tr>
<td bgColor=#faebd7>&nbsp;</td>
<td bgColor=#dedede>AntiqueWhite</td>
<td bgColor=#dedede height=28>古董白</td>
<td bgColor=#c0c0c0>#FAEBD7</td>
<td bgColor=#c0c0c0>250,235,215</td>
<td bgColor=#faebd7>&nbsp;</td></tr>
<tr>
<td bgColor=#d2b48c>&nbsp;</td>
<td bgColor=#dedede>Tan</td>
<td bgColor=#dedede height=28>茶色</td>
<td bgColor=#c0c0c0>#D2B48C</td>
<td bgColor=#c0c0c0>210,180,140</td>
<td bgColor=#d2b48c>&nbsp;</td></tr>
<tr>
<td bgColor=#deb887>&nbsp;</td>
<td bgColor=#dedede>BurlyWood</td>
<td bgColor=#dedede height=28>硬木色</td>
<td bgColor=#c0c0c0>#DEB887</td>
<td bgColor=#c0c0c0>222,184,135</td>
<td bgColor=#deb887>&nbsp;</td></tr>
<tr>
<td bgColor=#ffe4c4>&nbsp;</td>
<td bgColor=#dedede>Bisque</td>
<td bgColor=#dedede height=28>陶坯黄</td>
<td bgColor=#c0c0c0>#FFE4C4</td>
<td bgColor=#c0c0c0>255,228,196</td>
<td bgColor=#ffe4c4>&nbsp;</td></tr>
<tr>
<td bgColor=#ff8c00>&nbsp;</td>
<td bgColor=#dedede>DarkOrange</td>
<td bgColor=#dedede height=28>深橙色</td>
<td bgColor=#c0c0c0>#FF8C00</td>
<td bgColor=#c0c0c0>255,140,0</td>
<td bgColor=#ff8c00>&nbsp;</td></tr>
<tr>
<td bgColor=#faf0e6>&nbsp;</td>
<td bgColor=#dedede>Linen</td>
<td bgColor=#dedede height=28>亚麻布</td>
<td bgColor=#c0c0c0>#FAF0E6</td>
<td bgColor=#c0c0c0>250,240,230</td>
<td bgColor=#faf0e6>&nbsp;</td></tr>
<tr>
<td bgColor=#cd853f>&nbsp;</td>
<td bgColor=#dedede>Peru</td>
<td bgColor=#dedede height=28>秘鲁色</td>
<td bgColor=#c0c0c0>#CD853F</td>
<td bgColor=#c0c0c0>205,133,63</td>
<td bgColor=#cd853f>&nbsp;</td></tr>
<tr>
<td bgColor=#ffdab9>&nbsp;</td>
<td bgColor=#dedede>PeachPuff</td>
<td bgColor=#dedede height=28>桃肉色</td>
<td bgColor=#c0c0c0>#FFDAB9</td>
<td bgColor=#c0c0c0>255,218,185</td>
<td bgColor=#ffdab9>&nbsp;</td></tr>
<tr>
<td bgColor=#f4a460>&nbsp;</td>
<td bgColor=#dedede>SandyBrown</td>
<td bgColor=#dedede height=28>沙棕色</td>
<td bgColor=#c0c0c0>#F4A460</td>
<td bgColor=#c0c0c0>244,164,96</td>
<td bgColor=#f4a460>&nbsp;</td></tr>
<tr>
<td bgColor=#d2691e>&nbsp;</td>
<td bgColor=#dedede>Chocolate</td>
<td bgColor=#dedede height=28>巧克力色</td>
<td bgColor=#c0c0c0>#D2691E</td>
<td bgColor=#c0c0c0>210,105,30</td>
<td bgColor=#d2691e>&nbsp;</td></tr>
<tr>
<td bgColor=#8b4513>&nbsp;</td>
<td bgColor=#dedede>SaddleBrown</td>
<td bgColor=#dedede height=28>重褐色(马鞍棕色)</td>
<td bgColor=#c0c0c0>#8B4513</td>
<td bgColor=#c0c0c0>139,69,19</td>
<td bgColor=#8b4513>&nbsp;</td></tr>
<tr>
<td bgColor=#fff5ee>&nbsp;</td>
<td bgColor=#dedede>Seashell</td>
<td bgColor=#dedede height=28>海贝壳</td>
<td bgColor=#c0c0c0>#FFF5EE</td>
<td bgColor=#c0c0c0>255,245,238</td>
<td bgColor=#fff5ee>&nbsp;</td></tr>
<tr>
<td bgColor=#a0522d>&nbsp;</td>
<td bgColor=#dedede>Sienna</td>
<td bgColor=#dedede height=28>黄土赭色</td>
<td bgColor=#c0c0c0>#A0522D</td>
<td bgColor=#c0c0c0>160,82,45</td>
<td bgColor=#a0522d>&nbsp;</td></tr>
<tr>
<td bgColor=#ffa07a>&nbsp;</td>
<td bgColor=#dedede>LightSalmon</td>
<td bgColor=#dedede height=28>浅鲑鱼肉色</td>
<td bgColor=#c0c0c0>#FFA07A</td>
<td bgColor=#c0c0c0>255,160,122</td>
<td bgColor=#ffa07a>&nbsp;</td></tr>
<tr>
<td bgColor=#ff7f50>&nbsp;</td>
<td bgColor=#dedede>Coral</td>
<td bgColor=#dedede height=28>珊瑚</td>
<td bgColor=#c0c0c0>#FF7F50</td>
<td bgColor=#c0c0c0>255,127,80</td>
<td bgColor=#ff7f50>&nbsp;</td></tr>
<tr>
<td bgColor=#ff4500>&nbsp;</td>
<td bgColor=#dedede>OrangeRed</td>
<td bgColor=#dedede height=28>橙红色</td>
<td bgColor=#c0c0c0>#FF4500</td>
<td bgColor=#c0c0c0>255,69,0</td>
<td bgColor=#ff4500>&nbsp;</td></tr>
<tr>
<td bgColor=#e9967a>&nbsp;</td>
<td bgColor=#dedede>DarkSalmon</td>
<td bgColor=#dedede height=28>深鲜肉/鲑鱼色</td>
<td bgColor=#c0c0c0>#E9967A</td>
<td bgColor=#c0c0c0>233,150,122</td>
<td bgColor=#e9967a>&nbsp;</td></tr>
<tr>
<td bgColor=#ff6347>&nbsp;</td>
<td bgColor=#dedede>Tomato</td>
<td bgColor=#dedede height=28>番茄红</td>
<td bgColor=#c0c0c0>#FF6347</td>
<td bgColor=#c0c0c0>255,99,71</td>
<td bgColor=#ff6347>&nbsp;</td></tr>
<tr>
<td bgColor=#ffe4e1>&nbsp;</td>
<td bgColor=#dedede>MistyRose</td>
<td bgColor=#dedede height=28>浅玫瑰色(薄雾玫瑰)</td>
<td bgColor=#c0c0c0>#FFE4E1</td>
<td bgColor=#c0c0c0>255,228,225</td>
<td bgColor=#ffe4e1>&nbsp;</td></tr>
<tr>
<td bgColor=#fa8072>&nbsp;</td>
<td bgColor=#dedede>Salmon</td>
<td bgColor=#dedede height=28>鲜肉/鲑鱼色</td>
<td bgColor=#c0c0c0>#FA8072</td>
<td bgColor=#c0c0c0>250,128,114</td>
<td bgColor=#fa8072>&nbsp;</td></tr>
<tr>
<td bgColor=#fffafa>&nbsp;</td>
<td bgColor=#dedede>Snow</td>
<td bgColor=#dedede height=28>雪白色</td>
<td bgColor=#c0c0c0>#FFFAFA</td>
<td bgColor=#c0c0c0>255,250,250</td>
<td bgColor=#fffafa>&nbsp;</td></tr>
<tr>
<td bgColor=#f08080>&nbsp;</td>
<td bgColor=#dedede>LightCoral</td>
<td bgColor=#dedede height=28>淡珊瑚色</td>
<td bgColor=#c0c0c0>#F08080</td>
<td bgColor=#c0c0c0>240,128,128</td>
<td bgColor=#f08080>&nbsp;</td></tr>
<tr>
<td bgColor=#bc8f8f>&nbsp;</td>
<td bgColor=#dedede>RosyBrown</td>
<td bgColor=#dedede height=28>玫瑰棕色</td>
<td bgColor=#c0c0c0>#BC8F8F</td>
<td bgColor=#c0c0c0>188,143,143</td>
<td bgColor=#bc8f8f>&nbsp;</td></tr>
<tr>
<td bgColor=#cd5c5c>&nbsp;</td>
<td bgColor=#dedede>IndianRed</td>
<td bgColor=#dedede height=28>印度红</td>
<td bgColor=#c0c0c0>#CD5C5C</td>
<td bgColor=#c0c0c0>205,92,92</td>
<td bgColor=#cd5c5c>&nbsp;</td></tr>
<tr>
<td bgColor=#ff0000>&nbsp;</td>
<td bgColor=#dedede>Red</td>
<td bgColor=#dedede height=28>纯红</td>
<td bgColor=#c0c0c0>#FF0000</td>
<td bgColor=#c0c0c0>255,0,0</td>
<td bgColor=#ff0000>&nbsp;</td></tr>
<tr>
<td bgColor=#a52a2a>&nbsp;</td>
<td bgColor=#dedede>Brown</td>
<td bgColor=#dedede height=28>棕色</td>
<td bgColor=#c0c0c0>#A52A2A</td>
<td bgColor=#c0c0c0>165,42,42</td>
<td bgColor=#a52a2a>&nbsp;</td></tr>
<tr>
<td bgColor=#b22222>&nbsp;</td>
<td bgColor=#dedede>FireBrick</td>
<td bgColor=#dedede height=28>火砖色(耐火砖)</td>
<td bgColor=#c0c0c0>#B22222</td>
<td bgColor=#c0c0c0>178,34,34</td>
<td bgColor=#b22222>&nbsp;</td></tr>
<tr>
<td bgColor=#8b0000>&nbsp;</td>
<td bgColor=#dedede>DarkRed</td>
<td bgColor=#dedede height=28>深红色</td>
<td bgColor=#c0c0c0>#8B0000</td>
<td bgColor=#c0c0c0>139,0,0</td>
<td bgColor=#8b0000>&nbsp;</td></tr>
<tr>
<td bgColor=#800000>&nbsp;</td>
<td bgColor=#dedede>Maroon</td>
<td bgColor=#dedede height=28>栗色</td>
<td bgColor=#c0c0c0>#800000</td>
<td bgColor=#c0c0c0>128,0,0</td>
<td bgColor=#800000>&nbsp;</td></tr>
<tr>
<td bgColor=#ffffff>&nbsp;</td>
<td bgColor=#dedede>White</td>
<td bgColor=#dedede height=28>纯白</td>
<td bgColor=#c0c0c0>#FFFFFF</td>
<td bgColor=#c0c0c0>255,255,255</td>
<td bgColor=#ffffff>&nbsp;</td></tr>
<tr>
<td bgColor=#f5f5f5>&nbsp;</td>
<td bgColor=#dedede>WhiteSmoke</td>
<td bgColor=#dedede height=28>白烟</td>
<td bgColor=#c0c0c0>#F5F5F5</td>
<td bgColor=#c0c0c0>245,245,245</td>
<td bgColor=#f5f5f5>&nbsp;</td></tr>
<tr>
<td bgColor=#dcdcdc>&nbsp;</td>
<td bgColor=#dedede>Gainsboro</td>
<td bgColor=#dedede height=28>淡灰色(庚斯博罗灰)</td>
<td bgColor=#c0c0c0>#DCDCDC</td>
<td bgColor=#c0c0c0>220,220,220</td>
<td bgColor=#dcdcdc>&nbsp;</td></tr>
<tr>
<td bgColor=#d3d3d3>&nbsp;</td>
<td bgColor=#dedede>LightGrey</td>
<td bgColor=#dedede height=28>浅灰色</td>
<td bgColor=#c0c0c0>#D3D3D3</td>
<td bgColor=#c0c0c0>211,211,211</td>
<td bgColor=#d3d3d3>&nbsp;</td></tr>
<tr>
<td bgColor=#c0c0c0>&nbsp;</td>
<td bgColor=#dedede>Silver</td>
<td bgColor=#dedede height=28>银灰色</td>
<td bgColor=#c0c0c0>#C0C0C0</td>
<td bgColor=#c0c0c0>192,192,192</td>
<td bgColor=#c0c0c0>&nbsp;</td></tr>
<tr>
<td bgColor=#a9a9a9>&nbsp;</td>
<td bgColor=#dedede>DarkGray</td>
<td bgColor=#dedede height=28>深灰色</td>
<td bgColor=#c0c0c0>#A9A9A9</td>
<td bgColor=#c0c0c0>169,169,169</td>
<td bgColor=#a9a9a9>&nbsp;</td></tr>
<tr>
<td bgColor=#808080>&nbsp;</td>
<td bgColor=#dedede>Gray</td>
<td bgColor=#dedede height=28>灰色</td>
<td bgColor=#c0c0c0>#808080</td>
<td bgColor=#c0c0c0>128,128,128</td>
<td bgColor=#808080>&nbsp;</td></tr>
<tr>
<td bgColor=#696969>&nbsp;</td>
<td bgColor=#dedede>DimGray</td>
<td bgColor=#dedede height=28>暗淡的灰色</td>
<td bgColor=#c0c0c0>#696969</td>
<td bgColor=#c0c0c0>105,105,105</td>
<td bgColor=#696969>&nbsp;</td></tr>
<tr>
<td bgColor=#000000>&nbsp;</td>
<td bgColor=#dedede>Black</td>
<td bgColor=#dedede height=28>纯黑</td>
<td bgColor=#c0c0c0>#000000</td>
<td bgColor=#c0c0c0>0,0,0</td>
<td bgColor=#000000>&nbsp;</td></tr></tbody></table></div></td></tr></tbody></table>
<br /></td></tr></table></body></html>